[2018-05-24 00:50] orthecreedence opened #1 "Import mangles UTF8 characters"

[2018-05-24 00:51] orthecreedence opened #2 "Import skips files"

[2018-05-24 00:54] orthecreedence opened #3 "Experiencing key loss"
I think this has something to due either with imports or with moving boards between spaces.

A large amount of data was migrated from v0.6 to v0.7, exported, imported into another account, then moved. The key loss only occurred after wiping the local data and logging back in, so it's possible that something didn't get synced properly or that the data was fine in memory but not saved properly.

In

[2018-05-24 00:56] orthecreedence opened #4 "Build targets for desktop/mobile"
- [x] Windows x64
- [x] Linux x64
- [x] Linux x32
- [x] OSx x64
- [x] arm64-v8a
- [x] armeabi-v7a

[2018-05-24 00:57] orthecreedence commented on #4
I'm ready to leave this list as-is. I don't have a windows 32 build machine, and don't have time to set one up. If someone wants to do the desktop build on Windows x32, let me know and we can go over the process. Thanks!

[2018-05-24 00:58] orthecreedence commented on #4
Actually, going to close this for now and create a separate issue for the win32 build.

[2018-05-24 00:58] #4 closed

[2018-05-24 00:59] orthecreedence opened #5 "Windows x32 build"
This is the only platform Turtl *wants* to run on that is missing from the official builds.

If you'd like to maintain this build, let me know, and we can go over how to do it!

[2018-05-24 01:01] orthecreedence opened #6 "Board list not scrolling in mobile"

[2018-05-24 01:02] orthecreedence opened #7 "Set sandbox:true in popup.js?"
If we can enable this, we should. We've already set fairly optimal (read: restrictive) webview options, and I know we can't use `sandbox` in the core window, but maybe we can in the popup window (since it doesn't load the core, it just talks to the main window via IPC).

[2018-05-24 01:03] orthecreedence opened #8 "Platform installers for desktop"
- https://github.com/electron/windows-installer
- https://github.com/electron-userland/electron-packager

^ Check these out and figure out the best windows installer for Electron.

[2018-05-24 01:04] orthecreedence opened #9 "Fix secure cache plugin"
See https://github.com/lyonbros/cordova-plugin-secure-cache/issues/1

Should be an easy fix.

[2018-05-24 01:05] orthecreedence opened #10 "Disable turtl icon in secure cache plugin"
Everyone hates it. It doesn't even work correctly. Get rid of it.

All that's really needed is to set the service as a background service instead of foreground in the https://github.com/lyonbros/cordova-plugin-secure-cache project.

[2018-05-24 01:09] orthecreedence opened #11 "Update contributing guidelines"
- [x] Mention that `i18next.t` / `{{t}}` NEED to be given absolute values (not variables)
- [x] Update javascript guidelines (if needed)
- [x] Add rust guidelines
- [x] Remove lisp ='[

[2018-05-24 01:12] orthecreedence opened #12 "Test file uploads/downloads in mobile"
Test on android (armv7/armv8):

- Clear local data
- Log in
- Upload file/photo
- Clear local data
- Log in
- Verify file can be saved
- Verify image shows preview

Bonus: upload files with spaces in their names, and if it works, close #14

[2018-05-24 01:21] orthecreedence opened #13 "Text editor: mobile keyboard covers text box even if focused"
need to confirm the auto-resize fixed this issue.

[2018-05-24 01:23] orthecreedence opened #14 "Android: can't upload files with a space in the name"
This was reported a WHILE back and since, Cordova has been heavily upgraded (latest version and all). Need to verify. This is obviously related to #12

[2018-05-24 01:25] orthecreedence opened #15 "Implement mobile sharing to android app"
Need `Share to... -> Turtl` functionality for bookmarking, files, photos.

[2018-05-24 01:26] orthecreedence opened #16 "Save sort mode for each board/space in user settings"
So basically, when a user changes the sort order for a board (including "All notes") we should save this setting in the user settings.

I'm not actually sure if there's a core endpoint for user settings, so I'm going to label this as needing a core change as well.

[2018-05-24 01:30] orthecreedence opened #17 "Crypto in desktop IPC comms?"
Electron uses IPC to send messages between windows. I am not sure about the security of IPC and what information it might leak. This might vary per-platform as well.

It would be nice if there was a way to securely set up comm between the windows such that the main process generates an in-memory key once at startup and shares it (securely?) with each window that's opened, and these windows use the

[2018-05-24 01:32] orthecreedence opened #18 "Ctrl+f to find text on page"
Apparently this is a pain in the ass to do, but would be really a great feature.

[2018-05-24 01:49] orthecreedence opened #19 "Router-driven header actions"
Drive page title, action items, and menu items off of url (store as config options in the routes file). This allows deterministic header state based off url, and frees controllers from any responsibility, allowing them to just track back state.

[2018-05-24 01:57] orthecreedence opened #20 "Update tray menu"
- [ ] Add note
- [ ] Log out
- [ ] Red dot notification when user has invites

[2018-05-24 02:03] orthecreedence opened #21 "Native PDF reader support"
Not sure the best way to set this up. If Electron/Chrome has this built-in, then we might be able to get this for free (or for cheap) on both platforms. If not, then the next best thing might be to open the PDF in the core, generate an image for each page, and send the images back to the UI.

This needs more research.

[2018-05-24 02:05] orthecreedence opened #22 "Import from Evernote"
This needs a parser in the core, and a small update in the UI.

It shouldn't be too hard to parse the import (I believe it's just an XML file).

[2018-05-24 02:06] orthecreedence opened #23 "Publish android to F-Droid"
This should be easy(ish) now that we've dropped XWalk.

[2018-05-24 02:16] orthecreedence opened #24 "iOS app"
Might split the `mobile` project into `android` and `ios` for this because it already has some android-specific stuff in there, and I feel like it's just going to become a spaghetti mess to try to have one codebase for both targets.

I finally have a Mac that runs XCode, so this should be a go after v0.7.0 launches.

---

## TODO (required)

- [x] Open external links in external browser
- [x] Fix

[2018-05-24 02:18] orthecreedence opened #25 "File attachments acting strangely in OSx"
Seems to have something to do with blob URLs and the os not being able to determine file type.

From a user:

Perhaps there's a way to save the filename with the blob directly?

[2018-05-24 02:18] orthecreedence commented on #25
Note that I'm adding `needs-verification` because I'm not sure if this is still an issue (upgrading Electron and all that).

[2018-05-24 02:21] orthecreedence opened #26 "User settings interface"
Need to verify there's a way to read/modify user settings from the UI, even if it's just a simple JSON blob.

[2018-05-24 02:21] orthecreedence opened #27 "Notifications"
- [ ] Invited to a space
- [ ] Invite was accepted
- [ ] Shared space/board/note added/updated

Need a way to mute these individually, and save in user settings (#26)

This would also tie into notifications in desktop/mobile as well.

### Blocked by
- #26

[2018-05-24 02:26] orthecreedence opened #28 "In-app notification when new version available"
This would just be an endpoint the core checks against the server, then would send a UI event. Or maybe we shoehorn this into the sync system, kind of like an invite? Not sure how to handle yet.

[2018-05-24 02:27] orthecreedence opened #29 "Remove "turtl" text next to tray icon in OSx"

[2018-05-24 02:30] orthecreedence opened #30 "Password key file"
This would use the `user:get-login-token` / `user:login-from-token` feature. Just need an interface in the UI for this. Note that we should also add a new core endpoint for changing the password with a key file instead of a username/password.

- [ ] Login via key file
- [ ] Change password via key file

[2018-05-24 02:53] orthecreedence opened #31 "Implement overlay for various actions"
We need an overlay that removed any ability to interact with the UI. We might be able to re-use the login one here. This should be implemented for:

- [ ] Changing the password
- [x] Migrating an account
- [ ] Moving a board between spaces
- [ ] Delete account

[2018-05-24 02:55] orthecreedence opened #32 "Note search: ctrl+click tag (or long-press) to negate it"
This is already implemented in the core, we just need to send an `exclude_tags` array in the search model in the UI.

[2018-05-24 02:56] orthecreedence opened #33 "Set window props in linux (for i3wm classing)"
I haven't used i3 for a while now, so if someone else wants to take this, please feel free.

[2018-05-24 02:57] orthecreedence opened #34 "Require password for delete account"
Note that we should also allow a password file (#30)

[2018-05-24 02:57] orthecreedence opened #35 "Sign OSx build"

[2018-05-24 02:58] orthecreedence opened #36 "List view for notes"

[2018-05-24 03:00] orthecreedence opened #37 "Linking between notes"
Paste a special `note::1982b1fc9dfe19` into note text to link it to that note.

[2018-05-24 03:03] orthecreedence opened #38 "WYSIWYG editor"
Would be nice to be able to switch between this and markdown, maybe make this a persistent setting?

## Notes/editors

- https://github.com/sparksuite/simplemde-markdown-editor
- https://quilljs.com/

Also https://news.ycombinator.com/item?id=10413549

Suggested:

- CKeditor
- TinyMCE

[2018-05-24 03:04] orthecreedence opened #39 "Note versioning"
Stores the history of each note, allows viewing the old versions and reverting, as well as deleting certain history items.

[2018-05-24 03:09] orthecreedence opened #40 "Note drafts/autosave"
Basically some kind of autosave feature that saves notes that are being edited. The idea being that crashes lose data, and there needs to be a way to mitigate this.

Maybe saved into some kind of hidden space `drafts` or something (maybe a new field on spaces called `hidden` that don't get shown to the UI)? Then the UI would just call `profile:sync:draft` every few seconds which would save the dra

[2018-05-24 03:37] orthecreedence opened #41 "Batch note editing"
Basically, you can select multiple notes and run operations on them:

- Delete
- Add tag
- Remove tag
- Move to board
- Move to space (and optionally board)
- Send to grandparents

This is already easily done via the core (just issue multiple edits) and is mainly an interface challenge. I'm thinking some kind of batch/edit mode? You click the menu, click "Batch edit", and select via clicking, then

[2018-05-24 04:42] orthecreedence opened #42 "Note type: TODO"
Has checkboxes, due dates, etc

Might just build on the markdown checkbox support? Would probably want core support.

[2018-05-24 06:14] #1 closed

[2018-05-24 06:25] orthecreedence opened #43 "Sunset inactive users"
Would be great for users who import (ie, from evernote #22) and then never come back.

- Should be based on last API call
- Should send email notification 30 days before (as grace period)

[2018-05-24 06:26] orthecreedence opened #44 "Server fails when deleting a keychain that doesn't exist"
Should silently return.

[2018-05-24 06:36] orthecreedence commented on #44
closed by turtl/server#b1b0bd839eb1db175f64e82a4c1848993f6e1db0

[2018-05-24 06:36] #44 closed

[2018-05-24 08:15] orthecreedence opened #45 "Import: Inaccurate / incorrect tally"
Getting erratic fluctuations in the value of items imported when importing the same export.

Have:
[code]

But the import count is fluctuating between 300-700, and not sure if the _count_ is inaccurate or the actual items being imported. Need to nail this down.

[2018-05-24 08:42] #2 closed

[2018-05-24 09:07] orthecreedence opened #46 "Core event batching"
Sometimes the core sends a lot of events in a short amount of time. The UI often polls to retrieve events, meaning the the pipes get backed up.

A potential fix would be for `turtlc_recv_event` to return an array of events instead of a single event. This could be controlled under `messaging.batch_events` (boolean) in the core's `config.yaml`.

Note that this is the culprit for #45.

[2018-05-24 09:09] orthecreedence commented on #45
This is being caused by another issue. Closing.

[2018-05-24 09:09] #45 closed

[2018-05-24 09:41] orthecreedence opened #47 "Files not properly loading when being grabbed from server proxy"
Not sure yet who the culprit is (core? server?) But after clearing data, then logging in, files download but a) don't fire the "file avialable" event nor do they allow saving.

[2018-05-24 09:48] #46 closed

[2018-05-24 09:51] orthecreedence commented on #46
Note that I ended up solving this in the desktop/mobile core adapters by adjusting the timings to be more adaptive. No mods to core at all.

[2018-05-24 10:04] orthecreedence opened #48 "Basic RTL support"

[2018-05-24 10:04] orthecreedence commented on #48
Done!

[2018-05-24 10:04] #48 closed

[2018-05-24 10:08] orthecreedence opened #49 "Desktop: stay logged in"
Probably the single most requested feature.

I feel I can no longer hold back the tide with this one. Can use the core's `user:login-from-token` feature, and will likely just store it in localstorage. Need to have a checkbox with a big fat "WARNING THIS IS HORRIBLY INSECURE" message.

## Blocked by
- #90

[2018-05-24 10:12] orthecreedence opened #50 "Lock screen"
This would lock the screen after 5 minutes of inactivity, forcing the typing of password to unlock, or maybe pin. If we use the password, then maybe it makes sense to log out entirely.

[2018-05-24 10:28] orthecreedence opened #51 "Note colors"
This keeps coming up. It's funny because it's actually built in and working (although last I checked was years ago) but I disabled the interface because I wanted to keep complexity down. If this gets re-enabled again, I want to make it somewhat minimal or hidden since the note editor is already kind of messy.

[2018-05-24 10:34] orthecreedence opened #52 "Compile core to WASM"
This would enable Turtl web clients. Not that I personally approve of web clients, but who am I to judge?

The core is in Rust, and Rust uses LLVM, and LLVM has a WASM target, so a majority of the work is done. I think the real issue is picking apart every single little issue that each crate has with being compiled to WASM. Also not sure about threading support and all that. I think FS support wor

[2018-05-24 10:34] orthecreedence opened #53 "Publish feature"
Would allow showing a space publically (or protected by password) via a web interface.

This is a huge issue, because it requires a web interface, which would now require cross-compiling the core to wasm. This also opens up people who run servers to copyright issues, so would need to be configurable.

# Blocked by
- #52

[2018-05-24 10:37] orthecreedence opened #54 "Desktop: drag and drop files to create notes"
Would create a new note in the current location with that file attached and the filename as the title.

[2018-05-24 10:43] orthecreedence opened #55 "Create a note via email"
Would allow sending an email to `notes+space-021212bdf8ef80222@turtlapp.com` (would have to come from the email you've registered) and it would show up in that space. Subject is title, body is text, ONE file attachment allowed. I'd say we should use PGP, but Turtl doesn't use PGP anymore so that might have to get shelved for a bit.

Lots to be researched here, namely with regard to email receiving

[2018-05-24 10:45] orthecreedence opened #56 "UI tests"
Would run against desktop client, most likely, although mobile would be nice too.

This is something I have no experience in. Would be nice to get guidance/help.

[2018-05-24 10:47] orthecreedence opened #57 "Desktop auto-update"
Successor to #28.

[2018-05-24 10:49] orthecreedence opened #58 "Comments on notes"
The ability to have comments/conversations around notes. This is a complex feature that requires a new sync type with full support from the server/core.

[2018-05-24 10:52] orthecreedence opened #59 "OCR"
Complicated, decent amount of interface changes here, and not sure how to do this (I know there are C libraries here, hoping there are maybe rust-native ones as well because two external libs is already a lot to maintain).

Needs research.

[2018-05-25 00:21] orthecreedence opened #60 "Search by note type (file, image, text)"
This already has core support (horray) so just needs to be added to the js project's search model and the search interface.

[2018-05-25 00:29] orthecreedence opened #61 "Offline mode"
The ability to log in without a server connection.

Turtl already has offline mode if already logged in, and will queue your changes until you have a connection. However, the ability to log in while offline would be extremely useful in limited-connection scenarios.

Things to keep in mind:

- Would probably store the auth token in the general kv table, and could just compare against that when logg

[2018-05-25 00:36] orthecreedence commented on #61
Note that maybe we want to *always* re-encrypt all pending outgoing keychain entries every time a user logs in? This seems like a pretty safe bet.

[2018-05-25 00:50] orthecreedence opened #62 "General UI performance updates"
The sidebar and note layout views are in general kind of sluggish for large numbers of boards/notes. There has to be a way improve the rendering a bit.

- New masonry library? Is there something that doesn't use jquery that's a bit more established (AND performant)?
- Already did a pass on the sidebar by queueing re-renders and it seemed to help a lot, but maybe there's more we can do here. Seems

[2018-05-25 01:30] orthecreedence opened #63 "Standard packaging for linux"
Is there a way to do some kind of (verifiable) package-once, run-anywhere for linux, like a windows installer kind of? I've seen [OBS](https://build.opensuse.org/), that might be helpful, but really just wondering if there's a standard format I can publish the linux app(s) in that would allow most users to install it seamlessly (without having to package it by hand for each platform).

### Researc

[2018-05-25 01:31] orthecreedence opened #64 "Allow pin-protecting a space"
The idea being that you can add a pin number to a space, and you can only open/view it if you have the pin. Would be nice to enforce this at the core level.

[2018-05-25 01:34] orthecreedence opened #65 "Make tap/click on empty states ("Click + to get started!") the primary action for that interface"
I think this now only applies to notes, since boards and spaces are managed through the sidebar. Maybe invites/sharing needs this?

- [ ] Add note
- [ ] Send invite

[2018-05-25 01:35] orthecreedence opened #66 "Desktop: save window size/position on close and restore on startup when creating main window"

[2018-05-25 01:37] orthecreedence opened #67 "Desktop: minimize to tray on close"
Would be nice to have a toggle for this in the right-click tray menu for people who *want* turtl to close when they close it.

[2018-05-25 01:40] orthecreedence opened #68 "Note type: drawing"
Would allow creating simple pictures via touch/mouse (like a really shitty ms-paint). Could be good for quick diagrams.

[2018-05-25 01:43] orthecreedence opened #69 "Per-note permissions"
Sharing is great, but the permissions are fairly broad. It could be helpful to give each note the ability to have it's own permissions, set by the creator of the note.

- [ ] Lock editing
- [ ] Lock deleting

Not sure what would happen if the owner of hte space deleted the space. Obviously, locked notes wouldn't be able to block that operation. Maybe drop the locked notes into a new Space only the

[2018-05-25 01:46] orthecreedence opened #70 "Kanban view"
Each column would be a tag, would allow drag/drop between columns.

Really not sure if this is in-line with the goals of the project yet. If it gets overwhelming support, maybe, but there are already so many kanban/pm tools out there.

[2018-05-25 01:48] orthecreedence opened #71 "Quick-edit for notes"
Desktop: would be a hover state edit icon

Mobile: would be a long press

[2018-05-25 01:52] orthecreedence opened #72 "Drag and drop note sorting/ordering"
This one is a real pain, and honestly I'm not keen on it at all. How would this work in mobile? Long-press is probably going to be used for quick edit mode.

The purpose of Turtl is to be a knowledge-base of sorts, not a strictly-ordered list of items. This item might just be too far outside the goals of the project.

I'm going to leave this issue around so others see that it's at least being cons

[2018-05-25 01:55] orthecreedence opened #73 "Note metadata"
This would be an arbitrary JSON blob in notes where you can store just about anything you want. This would be helpful for implementing various note types that are not built-in (and even for moving some of the built-in fields out of the main Note object, if desired).

This could hold sort orders if doing hand ordering #72, it could hold due dates #42, etc.

[2018-05-25 02:03] orthecreedence opened #74 "PDF annotations"
I have dangerously little information on this. I have never annotated a PDF, and I don't know what would be involved in doing this through the UI/core. This needs a lot more research. If someone wants to put in some time to look into this, I'd be very appreciative.

Beyond the technicalities, not sure how badly this would complicate the editing interface. I want to be really careful here. I know t

[2018-05-25 02:05] orthecreedence opened #75 "Two-factor auth for logins"
Would need server support. Shouldn't be too bad since we switched to Node and I'm betting Node has baked support for this, however there are definitely some interface updates that would be needed as well.

I've never implemented two-factor auth before, so need to tread carefully.

[2018-05-25 02:07] orthecreedence opened #76 "Password generator for password notes"
Could mimick some/all aspects of the keepass generator, which I quite like.

I'm actually fine with Turtl moving into password manager space, so I'd like to keep this in mind. We will need a lot more tooling around browser extensions and mobile if this is truly and area the app wants to move into, but now that FF/Chrome are on the same codebase for extensions, should make things a lot easier.

[2018-05-25 04:06] orthecreedence opened #77 "Scratchpad for desktop"
This would be a popup window (like the bookmarker) that just has a text field that persists whatever you put into it. It's like an always-available notepad that syncs between devices.

Great for taking quick notes. Could possibly work in concert with the drafts system (#40).

[2018-05-25 04:17] orthecreedence opened #78 "Dark theme (OLED-friendly)"
I don't know much about OLED, so this would probably take a bit of research (I'm guessing it's just using #000000 just about everywhere?

[2018-05-25 04:20] orthecreedence opened #79 "Immersive writing mode"
An icon in the editor that removes all the UI elements and just has a full-screen text box for writing.

[2018-05-25 06:45] janos-szenfner opened #80 "Space/board editors: rename "Edit <item>" button to "Save""
When I open a sapce to change it's color or set to default or share it there is no save button, just an Edit Space button which works as a save button.

Expected Result:
Save button with save text

Actual Result:
Edit Space button with save function

Version: 0.7
OS: Windows 10 64bit

[2018-05-25 10:54] alejandroandreu opened #81 "How to export data?"
I've installed the Linux amd64 client to test Turtl out. What's the preferred way to back up my data?

Let's say for now I'm using the public API at https://api.turtl.it/v2 , but that later on I would like to roll out my own server and go from where I was.

[2018-05-25 11:11] sthenault commented on #81
I use https://github.com/JulienPalard/turtl-backup for some time now and it works quite well.

[2018-05-25 11:15] sthenault opened #82 "markdown title doesn't render well in the web ui"
The title says it all. I'm using instance at https://framanotes.org/

When I create a note containing '# title' or '## subtitle' markup, some of them are correctly rendered but most of them aren't.

[2018-05-25 12:15] alejandroandreu commented on #81
Great, that'll do the trick! Thanks :smile:

[2018-05-25 12:15] #81 closed, assigned to nobody

[2018-05-25 13:27] #82 closed, assigned to nobody

[2018-05-25 13:28] sthenault commented on #82
sorry I was just missing the trailing '#'

[2018-05-25 14:02] rubbingalcoholic commented on #78
OLED displays have per-pixel lighting, and brightness determines how much power it uses - so having a dark theme will significantly save battery life on OLED screens.

To maximize battery life, I would recommend using hex values #000000 for text and #000000 for background.

[2018-05-25 16:13] orthecreedence commented on #78
Thanks, that helps. I will set all hex values to #000000.

[2018-05-25 16:15] orthecreedence commented on #81
Also, v0.7.0 is going to be launching in a few weeks, and that will have built-in export/import of data.

[2018-05-25 16:19] orthecreedence commented on #80
Thanks, Szefi. I'll update this before hte big release. Should be easy.

[2018-05-25 16:32] orthecreedence commented on #8
__NOTE__ - I've gotten a lot of requests to use an installer that allows a custom location (not just the default user folder). Would be nice to honor this since I might be redoing the installer anyway. Another option is to run the normal electron packager and then use a third party like we have been in the past (Wix) with a more robust config. In fact, this might be the way to go.

[2018-05-28 04:21] orthecreedence commented on #3
So I was hoping this would be a keyfinder bug. Nope. it's actually corrupt data. The board (and consequentially notes moved with the board) are referencing the OLD space in their subkeys.

I have yet to reproduce this. I think the fact that the notes that were moved ALSO reference the old `space_id` in their subkeys (although not all of them??) is a clue in itself as to where this problem is locat

[2018-05-28 12:32] naraesk commented on #63
Have a look at [AppImage](https://en.wikipedia.org/wiki/AppImage) and [snappy](https://en.wikipedia.org/wiki/Snappy_(package_manager)). However, conventional packages are more convenient for the user

[2018-05-29 06:11] janos-szenfner opened #83 "Add interface to move a note to another space (and board)"
Actual result:
You can move notes between spaces if you move a board.

Expected Result:
Should be able to move simple notes between spaces, without moving the board

OS: Windows 10 x64
Version: 0.7

[2018-05-29 06:29] orthecreedence commented on #63
@naraesk Exactly what I was looking for, thank you. I think people have had enough of a problem with the tarball releases that something more common would be a step up (although, OS-specific packages would be the best, eventually).

[2018-05-29 07:21] orthecreedence commented on #3
Things to check:

- `Board.mem_update()` -- are we actually passing in the correct data? was the board moved, then mem update (but `space_id` not moved) then saved again?
- `Board.get_keyrefs()` -- make sure we are always returning the correct data here
- `SyncModel::dispatch()::MoveSpace` -- is cloning playing a part in this? are we hitting some race condition somewhere? should we have better loc

[2018-06-01 04:54] orthecreedence commented on #3
I looked through everything once again, and noticed that for all of the `SyncModel::dispatch()` stuff, I'm loading models directly from the DB, *except* for `MoveSpace//Board` which I get from the profile. Would this lead to issues (even if cloned)?

Also, realized this is going to be an exercise in futility unless I can reproduce, so I'm going to build out an integration test to do this. Wish me

[2018-06-01 05:31] orthecreedence opened #84 "Core: limit number of outgoing sync items sent to server"
Since the server limits the number of bulk sync items it processes, it would make sense for the core to limit the amount it sends.

Bonus if the core *reads* this value from the server, like maybe as a value sent back from a bulk sync?

[2018-06-01 07:44] orthecreedence commented on #3
`get_keyrefs()`/`generate_subkeys()` are both working as expected. switched `SyncModel::dispatch()::MoveSpace::Board` to load from db instead of profile. No change ='[

One thing I actually want to make sure of is that, like the boards/notes that failed organically, the failed board has:

[code]

In other words, we want to make sure the data discrepencies are in the correct places (and, at the ver

[2018-06-01 15:59] orthecreedence opened #85 "Corrupt APK on some Android platforms"
From one of our contributors:

[code]

Could use some help debugging this on various android devices if anyone has time.

[2018-06-02 04:01] orthecreedence commented on #3
Confirmed! This is good! This means the bug I'm reproducing is likely the same bug I ran into originally.

[code]

Notice the `space_id` is the new space id, but the space in the `keys` references the old space.

[2018-06-04 06:13] #3 closed

[2018-06-04 06:16] orthecreedence commented on #3
cool, now i can get back to all the other things i need to do before launch. finally.

[2018-06-04 06:22] orthecreedence commented on #7
Looks like we don't want to do this (IPC seems to not work in sandbox). Closing.

[2018-06-04 06:22] #7 closed

[2018-06-04 06:49] orthecreedence commented on #9
Cool, I think I fixed this (adding a null `Intent` check), just need to test with the debugger open. Don't care enough to try tonight.

[2018-06-04 06:58] orthecreedence commented on #10
I think this is fixed, just ripped out all the dumb foreground stuff. Need to test next time I've got my phone nearby.

[2018-06-04 07:05] #80 closed, assigned to orthecreedence

[2018-06-04 07:12] orthecreedence commented on #46
Fixed #45

[2018-06-04 07:16] orthecreedence commented on #3
as a post-mortem, just wanted to note the issue...

the core was sending through `move-space` sync items. these included the new encrypted subkeys for the new space for whatever object (note/board). however, the server was setting the new `space_id` into the object's data while *ignoring the key data sent*. in essence, the server was mishandling the key data, leading to the loss of the keys.

[2018-06-08 06:20] orthecreedence opened #86 "Cordova rebuild"
Cordova has gone through a bunch of upgrades since the last android release (odd, it's only been a few years...) so there are some updates we need to do.

Note that there are a number of cordova-related bugs in the `Roadmap` that might be fixed by this update.

- [x] Grab latest cordova
- [x] Convert any XWALK-specific options we used to native cordova (disable pull-down refresh, etc)
- [x] Remove

[2018-06-08 06:20] #86 closed, assigned to nobody

[2018-06-08 06:21] orthecreedence opened #87 "migration fails randomly while downloading files from v0.6 server"
Failure is fine. Not recovering from failure sucks. Need to look into this more closely (add some logging to migration crate).

[2018-06-08 06:21] #87 closed, assigned to nobody

[2018-06-12 04:36] #9 closed

[2018-06-12 04:38] orthecreedence opened #88 "Save login in android not working"
Looks like it's just not being invoked?

[2018-06-12 04:56] #88 closed, assigned to orthecreedence

[2018-06-12 04:57] orthecreedence commented on #10
The dumbass icon is disabled, but now the service quits when the app gets closed.

[2018-06-12 06:02] orthecreedence commented on #10
Using a background service here isn't working. It just dies whenever the app is killed. I'm thinking just going the AccountManager route is the best way, and show people the same big fat warning we'd show on the desktop's "Stay logged in" (#49) feature (basically, you're spreading your key material everywhere, beware).

[2018-06-12 06:02] #10 closed

[2018-06-12 06:05] orthecreedence opened #89 "Android: stay logged in v2"
The old version used a foreground service. Everyone hated the icon, so I tried a background service. It just gets killed when the app gets killed.

So now I think using the [AccountManager](https://developer.android.com/reference/android/accounts/AccountManager) is the way to go. This will have similar guarantees as the desktop stay logged in (#49) feature, which is to say, don't use it unless you

[2018-06-12 07:03] orthecreedence commented on #14
Works.

[2018-06-12 07:03] #14 closed

[2018-06-12 07:08] orthecreedence commented on #12
Working beautifully. Yay core.

[2018-06-12 07:08] #12 closed

[2018-06-14 00:13] #6 closed

[2018-06-14 00:23] orthecreedence opened #90 "Stay logged in (core)"
Here's how I want to handle this.

- [x] Build a core endpoint for `user:save-login` (user must be currently logged in).
  - This generates a random crypto key
  - Grabs the user's login token (`user:get-login-token`)
  - Encrypts user's login token with the random key
  - Saves the result to a file called `<userid>.login`
  - Returns the user id and the key to the UI.
- [x] Build a core endpoint

[2018-06-14 02:28] #90 closed, assigned to orthecreedence

[2018-06-16 03:11] #49 closed

[2018-06-16 03:13] orthecreedence opened #91 "Add /docs/security/remember-me page to www"
JS now points at this URL, so we need to put a page here explaining why "Stay logged in" is a horrible idea if you care about security.

[2018-06-16 03:17] orthecreedence opened #92 "Update www docs"
The www site has a lot of old garbage in it. Really need to update the docs. As always, I'm tempted to redo the site entirely, but I think because I actually want to get this release out the door THIS CENTURY I'll just stick to simplifying the docs. In general, I want to go over a few basic things:

- [x] pieces of the app (core, ui, server, etc)
- [x] security
  - [x] serialization format
  - [x]

[2018-06-16 03:18] orthecreedence commented on #91
Superseded by #92

[2018-06-16 03:18] #91 closed, assigned to orthecreedence

[2018-06-16 03:20] orthecreedence opened #93 "Post desktop bundle/apk into Github releases"
Need to get the desktop releases finalized (including Win installer) and post those, along with the android APK, into Github releases.

Then I can start badgering people to beta test before the v0.7.0 launch.

## Blocked by
- #8

[2018-06-16 03:39] orthecreedence opened #94 "Syncing hooks/plugin"
This would add plugin hooks for the syncing system. This is the proto-premium feature. The _trilobyte_ of premium.

[2018-06-16 03:54] orthecreedence opened #95 "Import from Evernote"
Note that I really want to complete this in tandem with #43 so when people import their 400mb Evernote profiles and then never come back, we don't have to store their junk forever.

[2018-06-16 03:59] orthecreedence opened #96 "iOS app"
Obviously, a huge deal. Will probably rename `mobile` to `android` and copy/paste the project to `ios` just so we separate the codebases early on and not try to kid ourselves into thinking we can successfully keep everything in the same codebase when the bulk of the work is in an imported project (`js`) anyway.

[2018-06-16 12:41] JosuGZ opened #97 "Error running `npm install` on desktop w/ Node 10.x"
I'm getting the following error:

[code]

I've also had errors on other versions of node, I think different ones.

[2018-06-16 15:00] JosuGZ opened #98 "Update core/desktop build instructions in READMEs"
I've been trying to build the desktop app and it seems the setup instructions are outdated/incomplete, I've found this problems so far:

- Desktop
  - [I can't do npm intall on node v10.4.0](https://github.com/turtl/tracker/issues/97)
  - `core-js` needs to be renamed to `core`
  - Something else is missing, since the app runs but it only shows `turtl` and a broken image ->
[code]
    - This helps

[2018-06-16 15:08] JosuGZ commented on #98
Oh I see I've missed the part where it says `# make sure you set up core-rs based on its own setup: https://github.com/turtl/core-rs`, I'll update the issue soon.

[2018-06-18 18:10] orthecreedence commented on #97
Looks like `ffi` is failing. Not sure if there's much I can do about it. It compiles as a native library, so make sure you have a c compiler (if you're on debian and ubuntu I think as well, you can do `apt install build-essential`). I'm not sure if there's a way to get gyp to spit out more verbose logs, but the error above isn't really actionable. Can you get me more info?

[2018-06-18 18:15] orthecreedence commented on #98
`core-rs` is a [Rust](https://www.rust-lang.org/en-US/) library. If you [install Rust using rustup](https://rustup.rs/), you'll have `cargo` installed for you.

Then, you should be able to do `make run` in `desktop` and it will build everything (assuming you have libsodium installed properly) and move the build library to the proper location.

I'll try to get more up to date docs on this written.

[2018-06-30 16:56] JosuGZ commented on #98
Thanks for your answer and sorry for taking soo long to notice about it. I was actually able to build everything with the steps I placed on this issue, I think the most important one is this: `If I move <script src="../config.js"></script> up inside build/index.html it works.`

[2018-06-30 16:58] JosuGZ commented on #97
I can try to get you more info but with node 8 it works properly, and node 10 is not the LTS version, so maybe a warning about that on the readme would be enough.

Using a node 10 docker container with a clean project folder mounted to it I get the following output:

[code]

The debug log does not show much more:

[code]

You can test it with `docker run -u $(id -u) -v <PROJECT_FOLDER>:/turtl --na

[2018-07-02 16:32] orthecreedence opened #99 "Upload/download progress bar in sync settings"

[2018-07-02 16:36] orthecreedence commented on #97
Thanks for the test case! That will be handy when I have time to take a look at this. For now, if node 8.x works, best to stick with that and I will leave this open in the meantime.

[2018-07-02 19:07] orthecreedence opened #100 "Email a note to a space"
Would be cool if the server could read a mailbox (ie, `notes+<user_id>.<space_id>@turtlapp.com`) and save notes to your profile.

The process would be as follows:

- Server checks mailbox, grabs a message
- Server creates a note with the message, maybe marking `{plaintext: true}` and saving the subject as title, message as body (in plaintext) and adding a sync item.
- Client logs in, grabs latest

[2018-07-02 19:59] rubbingalcoholic commented on #100
Bonus: force the user to create a GPG key and a GPG subkey and share the subkey private portion with Turtl and force any incoming email to be subkey encrypted that way the email is never ever in plaintext.

[2018-07-04 00:11] orthecreedence opened #101 "Bookmarker: board selector keeps switching to last item in list"

[2018-07-04 00:12] orthecreedence opened #102 "Space selector: on close, unfocus search box (for both spaces and boards)"
Otherwise the keyboard shortcuts don't work (since they are captured by the search input).

[2018-07-06 02:03] orthecreedence opened #103 "Turtl server federation"
Would like to eventually make Turtl distributed. I'm thinking some kind of (limited) implementation of [ActivityPub](https://www.w3.org/TR/activitypub/).

The idea is that you could share a space with a user on another Turtl server, and that server would follow sync items on your server regarding that space and could grab the latest data, and similarly, changes the shared user made to the space wo

[2018-07-06 03:34] #102 closed, assigned to nobody

[2018-07-06 04:52] #101 closed, assigned to orthecreedence

[2018-07-06 17:46] orthecreedence commented on #100
Yeah, that's not a bad idea. Then the data would still be e2e.

[2018-07-09 00:58] jesulo opened #104 "Problem loading v0.6.4 lisp api"
in ubuntu 16.04
I can' t finish the installation for that, can help me? thanks!

[2018-07-09 04:14] orthecreedence commented on #104
Can you post your `/home/turtl/.ccl-init.lisp` file?

[2018-07-09 05:05] orthecreedence commented on #8
Just using the old wix installer, with some mods. Going all-in on system-only installing. I'm going to just release a zip version of Turtl for those who need to use without admin privs.

[2018-07-09 05:05] #8 closed

[2018-07-09 05:29] orthecreedence commented on #89
Ok, looks like we actually want [Keystore](https://developer.android.com/training/articles/keystore#UsingAndroidKeyStore), not AccountManager. The idea is we'd save our login, use Keystore to encrypt the key for the saved login, then store that encrypted key in the app's prefs.

[2018-07-09 11:58] jesulo commented on #104
I followed the steps in this tutorial:
https://www.linode.com/docs/applications/cloud-storage/how-to-install-a-turtl-server-on-ubuntu/

/home/turtl/.ccl-init.lisp file :

;;; The following lines added by ql:add-to-init-file:
#-quicklisp
(let ((quicklisp-init (merge-pathnames "quicklisp/setup.lisp" (user-homedir-pathname))))
  (when (probe-file quicklisp-init)
    (load quicklisp-init))
(cwd "/home

[2018-07-09 16:53] jordansinn1994 opened #105 "Viewing FIles on Mobile is Currently Broken."
Unable to open or download file attachments created on the PC application from the Android app. When tapping on the link the message ,  "Viewing files on mobile is currently broken. We're working on a fix. Sorry for the trouble!" is displayed. I remember this issue from trying to use turtl years ago, has any progress been made on this?

[2018-07-10 05:20] orthecreedence commented on #104
Try this:

[code]

[2018-07-10 05:20] #104 closed

[2018-07-10 05:40] orthecreedence commented on #105
Yes, this should be fixed in the upcoming [v0.7.0 release](https://github.com/turtl/tracker/milestone/1). This should be released soon!

[2018-07-10 05:40] #105 closed, assigned to nobody

[2018-07-10 23:42] jacobc-eth opened #106 "Images in shared spaces not syncing/showing"
I'm using the Linux desktop client to collaborate together when another user of Turtl. When I add an image, the other user can see an image was added, but they cannot view the image itself. Instead they simply see a black card with the photo icon in the center. If the other turtle user adds an image to the shared board, I'm unable to see the image as well (but they can see the image they added).

[2018-07-10 23:55] orthecreedence opened #107 "Log interface in settings"
This is going to be essential for debugging issues with the new Turtl release.

[2018-07-11 00:58] orthecreedence commented on #107
“I have done that,” said Toad, and he clicked the button to close the ticket.

[2018-07-11 00:58] #107 closed, assigned to orthecreedence

[2018-07-14 08:50] opensource21 commented on #89
I'm experienced Java-developer with small Android Know-How. Can I help you to get this solved?

[2018-07-14 22:37] orthecreedence commented on #89
Yes, I would love that. Right now I'm working on another aspect of the app and I have limited time to work on the Anrdoid portion of things, so any help would be greatly appreciated.

So I think the general plan for this is to build a Java/Android class that:

1. Receives an an unencrypted key that needs to be encrypted.
1. Android's Keystore is used to encrypt the unencrypted key.
1. The encrypte

[2018-07-14 22:39] orthecreedence commented on #106
The syncing system has been completely rebuilt for the upcoming v0.7.0 release, so I'm guessing this is fixed now. That said, I'll test this specific case before closing this issue.

[2018-07-15 10:09] opensource21 commented on #89
Sound's good. Just to get the use case more clear. In the previous version the "stay logged in"-feature solves two purposes:

- convenient - you don't need to logged in every time you use the app.
- offline-usage - if you was in a region with no internet you should be able to get access to your data.

If I understand the new "rust"-solution correct the offline-usage is solved independent from the

[2018-07-15 18:04] orthecreedence commented on #89
I think API 23 is the earliest we care about, which from what I read about Keystore should simplify things a bit. Yes, unencrypted key would be a byte array. I'll most likely build a cordova plugin around this class and I can handle any conversion needed to call into it.

The rust portion of the app still does not have full offline mode (tracked here: #61) so this will be about continued offline u

[2018-07-17 15:18] opensource21 commented on #89
I started today. You can see the result [in a separate project](https://github.com/opensource21/TurtlSecretStoreExample/blob/master/app/src/main/java/com/lyonbros/turtlcore/SecurityStore.java).
I want to make the possibility to have a secure solution. So there are 3 modes:
NONE - There is no extra protection to get the key -> works
AUTHENTICATION - Ensures that the user has authenticated a few min

[2018-07-18 13:59] opensource21 commented on #89
It looks like the AUTHENTICATION Method with is recommended is more tricky than it looks. Found [failure report](https://stackoverflow.com/questions/36043912/error-after-fingerprint-touched-on-samsung-phones-android-security-keystoreexce). So I think if you look at the increase of security (check that user has authenticated 5 minutes before) and the probability that we must handle obscure error-re

[2018-07-18 15:43] opensource21 commented on #89
The idea to make a second password to crypt the stored keys with a weaker password than the original, can't be  handle with the current api. The android ui is non-blocking so we must  use a callback.  This can be done, but it's difficult to test and to understand. One possibility is that the password is given from the JS-Part.  Then we need a class for en- and decrypt.  A method which can be asked

[2018-07-19 19:56] orthecreedence commented on #93
DONE

[2018-07-19 19:56] #93 closed, assigned to orthecreedence

[2018-07-20 09:40] opensource21 commented on #89
Created a [turtl-branch](https://github.com/opensource21/TurtlSecretStoreExample/blob/turtl/app/src/main/java/com/lyonbros/turtlcore/SecurityStore.java) with  simplified version

[2018-07-23 06:11] orthecreedence commented on #89
@opensource21 the solution you came up with is the exact one I imagined for this particular feature: no secondary password at all, just using the built-in security features of the OS to protect the login key. The "stay logged in" feature comes with a big warning no matter what platform, so I think we can be more lax on security for now.

Also, sorry for the late response, I was traveling last week

[2018-07-23 14:16] janos-szenfner opened #108 "Undifined text all over on the login screen"
![2018-07-23 16_13_52-turtl](https://user-images.githubusercontent.com/27774520/43082164-af82fd32-8e93-11e8-9144-9cf2fc4c21c0.png)

This is viewable when open the app on Windows 10 x64 bit -  Turtl 7.0-RC1

[2018-07-23 21:13] orthecreedence commented on #108
@janos-szenfner I think this is related to the blank android screen bug you reported earlier, which I have an idea on how to fix. Both these issues seem to be related to a recent bug in the locale system. Once that's fixed, I'll send out another round of releases to check out.

Thanks for reporting!

[2018-07-24 02:03] orthecreedence commented on #108
Confirmed fixed in https://github.com/turtl/js/commit/57d8a45783fea2674a9711ecb3ce4067a38e2752

[2018-07-24 02:03] #108 closed, assigned to orthecreedence

[2018-07-24 06:42] #89 closed, assigned to orthecreedence

[2018-07-24 06:44] orthecreedence opened #109 "Android: fix file viewing"

[2018-07-24 07:27] #109 closed, assigned to orthecreedence

[2018-07-24 08:14] orthecreedence opened #110 "Cannot accept invites"
Invites are just not working at all through the interface. Might be a UI issue, might be a core issue. Doesn't seem to matter if there's a password or not.

[2018-07-24 08:15] orthecreedence opened #111 "Invites only sync after logging out and logging back in"
Seems the core barfs on decrypting the invite so just decides not to sync it (not sure why logging out and grabbing the profile from disk works though).

[2018-07-24 11:10] opensource21 commented on #13
For me this seems an old bug, perhaps it's better to finish the switch to RUST and fix then old issues. Otherwise the new architecture will never finished.

[2018-07-24 12:55] TheCherry opened #112 "Server error: missing auth key"
Hallo,
I am new here and wanted to try to host my own turtl Server.
I setting everything up and the Server runs. But if I try to create a User (with the android app) I just get the response missing `auth` key in the terminal:

[code]

This is my Config:
[code]
(XXX is for sure not the value in the config)

[2018-07-25 01:46] orthecreedence commented on #13
Oh, completely agree, @opensource21 . The old version is dead to me. This issue is really just to check that the problem doesn't still exist. Much of the UI is the same as the old version, so it's possible it didn't get fixed.

[2018-07-25 01:48] orthecreedence commented on #13
Just confirmed. Fixed.

[2018-07-25 01:48] #13 closed

[2018-07-25 01:49] orthecreedence commented on #106
Note that this is now blocked by #110

[2018-07-25 01:52] orthecreedence opened #113 "Add "Remember me" info page on www"
Need to update the stupid website to let people know how "Remember me" works.

The url needs to be `https://turtlapp.com/docs/security/remember-me`

[2018-07-25 02:13] orthecreedence commented on #112
Are you connecting to this server using the old client (v0.6.x)? If so, try using one of the RC builds for the new client: https://github.com/turtl/desktop/releases

v0.7.0-rc2 is what you want (rc1 is broken badly).

If you're already connecting with the new client, let me know and we'll dig in further.

[2018-07-25 02:17] orthecreedence commented on #112
Just to add: the old server (turtl/api) is not compatible with the new server (turtl/server). So the old client (v0.6.x) can only talk to `api`, and the new client (v0.7.x) can only talk to `server`. Since you are using `server` you'll want to use the new client. Keep in mind, v0.7/server is not officially released yet...but I definitely recommend using it over v0.6/api because it's kind of a pain

[2018-07-25 06:17] janos-szenfner opened #114 "Remember Me page gave error 404"
https://turtlapp.com/docs/security/remember-me

Click on the link and it gave back 404 error.

[2018-07-25 06:21] janos-szenfner opened #115 "Filter HTML when barfing error messages"
![2018-07-25 08_18_18-turtl](https://user-images.githubusercontent.com/27774520/43182908-85c47c40-8fe3-11e8-98c9-8a4c4b67cbb7.png)

The screen jumps into smaller screen on windows 10 x64 - Turtl7.0-RC2

The error should looks like within the entire window.

[2018-07-25 06:28] janos-szenfner opened #116 "Unable to login"
When I try to login it gives back error.

![2018-07-25 08_18_18-turtl](https://user-images.githubusercontent.com/27774520/43183238-bc5c75d6-8fe4-11e8-933d-4daacbb713b0.png)

System: Windows 10 x64
Turtl: 7.0 RC2

[2018-07-25 07:49] orthecreedence commented on #116
I think your client has saved the url of the old server. Can you open "Advanced settings" and change "Turtl server" to `https://apiv3.turtlapp.com`? That should fix it.

[2018-07-25 07:49] orthecreedence commented on #114
This is tracked in #113

[2018-07-25 07:49] #114 closed, assigned to nobody

[2018-07-25 07:51] orthecreedence commented on #115
This is caused by pointing the client at a server that returns an HTML error, and the HTML is being displayed on the page and messing with the layout. The solution would be to filter HTML when printing error messages like this.

[2018-07-25 08:01] orthecreedence opened #117 "Sign Windows installer via code signing"
https://mkaz.blog/code/code-signing-a-windows-application/

[2018-07-25 08:02] janos-szenfner commented on #116
You can close this ticket. The server address was not correct.

[2018-07-25 08:02] orthecreedence commented on #116
Thanks for verifying!

[2018-07-25 08:02] #116 closed, assigned to nobody

[2018-07-27 14:14] leonhardvohla opened #118 "Use as general filesystem"
I don’t know if this project aims in that direction at all, but I would like to use Turtl to store all my files, photos and notes and thus be able to tag and search through them all.

It would be easier if you could:
- mount your storage in your filesystem/webDav access (only for files and images, don’t think it would work for notes)
- easily open files (like .docx, .html, etc.) in a program of ch

[2018-07-27 17:51] orthecreedence commented on #118
Turtl does store your files on the filesystem, in the new version. It stores them into the user directory alongside the main db (which holds the profile locally). It would be possible to change this location by changing the desktop configuration file.

However, these files are encrypted and there's no way you'd be able to open with any external program without downloading them through Turtl first.

[2018-07-27 17:51] #118 closed, assigned to nobody

[2018-07-27 17:56] shaneparsons opened #119 "App randomly becomes unresponsive"
**What happened:**
The app randomly becomes unresponsive. It's happened about 5 times now, within an hour.

**What was I doing:**
I was just adding "password" entries.

**How to resolve the issue:**
The only thing that seems to work for me is quitting / re-launching the app.

**Other details:**
- turtl-osx-0.6.4
- macOS: 10.13.5

[2018-07-27 22:37] orthecreedence commented on #119
Thanks for reporting!

I believe this has been fixed and the release (v0.7.0) will be out soon. So I am going to close this for now.

Please keep an eye out for the new release!

[2018-07-27 22:37] #119 closed, assigned to nobody

[2018-07-28 12:08] opensource21 opened #120 "Im- and export all notes"
It should be possible to im- and export all notes. There is no cryptographic necessary, because it should be a simple backup mechanism.  All notes should be in Markdown-Format. It could be a JSON-Format or a file-structure.
There are 4 main reason to implement it:

1. Backup-Mechanism are always a good idea for the case that the turtl server  isn't reachable.
2. Based on European law a service-pro

[2018-07-28 12:12] opensource21 opened #121 "Password protect "Stay logged in" feature with pin or simpler password"
It would be nice to have a simple login on securce machines. For the internet I prefer to have a strong password. How ever on devices like my desktop PC I like it to have quick access. So it would be nice to save the master key (like in #89) and save it with a simpler password. If the password is wrong then delete the safe data.

[2018-07-30 11:02] Dr-Noob opened #122 "Rename tags"
I would consider adding a feature to rename tags, because sometimes you can misspell it, or you simply want give it a better name, but if you have lots of notes tagged you can't remove the tag and create a new one because it's really annoying.

[2018-08-02 16:19] orthecreedence commented on #120
Although there's no issue tracking this (unless you count the old trello: https://trello.com/c/a5rl9dKY) this is done and set to release in v0.7.0!

[2018-08-02 16:19] #120 closed, assigned to nobody

[2018-08-02 16:22] orthecreedence commented on #121
Agree, this would be a cool feature if your desktop has hard drive encryption, and could be a nice middle ground between having to type the full password and full relying on the "Stay logged in" feature's use of the underlying system's security.

[2018-08-02 16:25] orthecreedence commented on #122
Closing this in favor of #41 (but I am adding a "Rename tag" item to that issue).

[2018-08-02 16:25] #122 closed, assigned to nobody

[2018-08-03 00:27] orthecreedence commented on #110
So, the reason this is happening is that the user.privkey is getting overwritten (probably the first time the settings are saved). It looks like it's a "series of unfortunate events" that end up with the privkey getting lost, making it impossible to open invites (seems to happen whether the invite was pubkey-encrypted or not). I think I have the fix for this, but before I go stampeding to close th

[2018-08-03 01:41] orthecreedence commented on #106
Confirmed fixed.

[2018-08-03 01:41] #106 closed, assigned to orthecreedence

[2018-08-03 01:44] orthecreedence opened #123 "When a user is deleted, their shares should be unshared via sync records"
Right now, if a user who is an active sharee deletes their account, they will still show up as members in the spaces that were shared with them. Need to fix so the member list updates to show that the user has left the share.

[2018-08-03 01:50] orthecreedence commented on #123
Invites as well...

[2018-08-03 01:53] orthecreedence opened #124 "Sync from user confirmation dies with error"
This leaves the user (locally) unconfirmed until they wipe local data. Not good.

[code]

^ this is in `Turtl::find_model_key`.

[2018-08-03 01:58] #110 closed, assigned to orthecreedence

[2018-08-03 01:59] orthecreedence commented on #124
It's possible this is slightly related to #111

[2018-08-03 07:30] #111 closed, assigned to orthecreedence

[2018-08-03 07:36] orthecreedence opened #125 "Shared image flashes endlessly"
Emits `profile:note:get-file` event incessantly. Probably some kind of download/syncing/queuing bug.

[2018-08-03 07:41] orthecreedence opened #126 "Clearing local data does not wipe saved logins"
Need to make sure any kind of logout removes the stupid saved logins.

[2018-08-03 08:03] #125 closed, assigned to orthecreedence

[2018-08-03 08:06] orthecreedence commented on #126
Wait, yeah it does. Weird.

[2018-08-03 08:06] #126 closed, assigned to orthecreedence

[2018-08-03 08:31] #124 closed, assigned to orthecreedence

[2018-08-03 08:36] #115 closed, assigned to orthecreedence

[2018-08-03 08:37] orthecreedence commented on #112
Closing this due to inactivity, but feel free to continue the discussion if needed.

[2018-08-03 08:37] #112 closed, assigned to nobody

[2018-08-03 08:37] orthecreedence commented on #85
Verified fixed. Was an apk signing issue.

[2018-08-03 08:37] #85 closed, assigned to orthecreedence

[2018-08-04 19:57] #113 closed, assigned to orthecreedence

[2018-08-06 00:09] notklaatu opened #127 "Embed image in a note"
It would be nice to be able to embed an image within a note. Example:

[code]

(This, without having to upload an image to a private server so you can hyperlink to it.)

Since it's possible to create an image as a note, maybe there's a way to reference that image from within a text note?

[2018-08-06 16:58] naraesk opened #128 "Compile core against GLIBC < 2.18"
I used this version on Arch Linux:
https://github.com/turtl/desktop/releases/download/v0.7.0-rc3/turtl-linux64.tar.bz2

[code]

Well, script says installation has been successful and /opt/turtl has been created and has files in it. But was it really successful? When running /opt/turtl/turtl I just get a white screen, the same as posted by Marrie on twitter: https://twitter.com/turtlapp/status/1025

[2018-08-06 19:07] matthewn commented on #128
I have the exact same results on Ubuntu 18.04.

[2018-08-06 22:11] orthecreedence commented on #128
Thanks for reporting, I will take a look at this!

[2018-08-06 22:13] orthecreedence opened #129 "Windows 7 install broken"
Windows x64 installer works on w10, but on w7 I get a blank screen (header bar, "Turtl" header, but broken image for icon, no login). Looks like it's having trouble loading the core lib. Maybe need to do the build on win7? Maybe there's a compatibility switch when building for windows? Not sure yet.

[2018-08-06 22:37] orthecreedence commented on #127
Yeah, this is not currently possible without linking outside of the app to an external server. I think that linking between notes is a good way to handle this (#37).

[2018-08-07 04:16] orthecreedence commented on #129
Seeing `Win32 error 193`.

Possibly related to node-ffi/node-ffi#120? Maybe need to try different loading modes.

[2018-08-07 16:02] peakgeek commented on #128
Same issue on Elementary OS 5.0 Beta

Also tried the msi installer on a Windows 10 Pro 64-bit machine and it installs, but then opens to an empty window with a broken image in the top left corner.

[2018-08-08 01:30] orthecreedence commented on #128
Note that this should be working now, but I'm going to try and fix #129 before releasing another RC.

[2018-08-08 01:55] orthecreedence commented on #129
Oddly, starting via MSYS works, but starting via the shell doesn't work. Time to dig in to the `DEBUG=ffi:*` logs

[2018-08-08 01:58] orthecreedence commented on #129
HA setting `PATH= ./turtl.exe` in MSYS breaks. Getting closer...

I think this is some kind of missing MSYS dependency (maybe c++ redist?).

[2018-08-08 02:34] orthecreedence commented on #129
Confirmed fixed!

[2018-08-08 02:34] #129 closed, assigned to orthecreedence

[2018-08-08 07:13] orthecreedence commented on #128
The new RC4 is out, would love if anybody wanted to give it another try: https://github.com/turtl/desktop/releases/tag/v0.7.0-rc4. @peakgeek I believe the windows issue is fixed in RC4 as well (confirmed and tested on one of my windows machines).

[2018-08-08 07:32] dave-theunsub opened #130 "Add version number to releases/downloads"
Hi,

Recommend adding the version to the releases or any downloads. Currently the downloads look like "turtl-linux64.tar.bz2" - but "turtl-v0.7.0-rc4-linux64.tar.bz2" or something would be easier for maintainers and users.

Thanks!

[2018-08-08 07:47] aptmiguk commented on #128
The RC4 build installs without error. However, I'm getting a blank screen on startup now.  Did dependencies change or anything?  I'm on CentOS 7; no issues on stable build.
![turtlblank](https://user-images.githubusercontent.com/39675808/43823645-5a37c262-9ab5-11e8-8dbe-83ca2ea1e732.png)

[2018-08-08 08:24] naraesk commented on #128
For me it works now, thanks!

[2018-08-08 09:54] naraesk opened #131 "OpenSSL verification errors (need to bundle CA list with desktop build)"
I've installed RC4 on Arch Linux successfully. I tried creating a new account account and run into several issues. I will document them all here. Please note, I used it in German. I always write my own back translation, hope you can work with that. Is there an easy way change language without changing it globally?

1) After clicking on "Ein Konto erstellen" ("Creating an account") I see the follow

[2018-08-08 16:32] orthecreedence commented on #128
@aptmiguk do you have openssl installed? The fix for #129 was to bundle the ssl shared libs with the install, now I'm wondering if I should do the same on the linux builds.

[2018-08-08 16:37] matthewn commented on #131
I can confirm the SSL error. I have successfully installed 0.7 RC4 on Ubuntu 18.04, but any attempt to log in is met with "Login failed: An error in the OpenSSL library: certificate verify failed".

[2018-08-08 16:47] aptmiguk commented on #128
@orthecreedence , here is what's installed:

yum list installed \*ssl\*
openssl
openssl-devel
openssl-libs
perl-Crypt-SSLeay
perl-IO-Socket-SSL
perl-Net-SSLeay
pyOpenSSL
python-backports-ssl_match_hostname
xmlsec1-openssl

[2018-08-08 16:57] orthecreedence commented on #128
@aptmiguk Odd, you have everything I'd expect would make it work. The problem with that "no turtl logo" issue is that it doesn't give a clear message as to what failed. Bundling the ssl libs took me a while to figure out.

Can you open it up again and do `ctrl+shift+k` and let me know if it is giving a useful error?

[2018-08-08 17:02] aptmiguk commented on #128
@orthecreedence , Good call.  See attached.  I guess it's a version issue?

rpm -qf /lib64/libc.so.6
glibc-2.17-222.el7.x86_64

![glibc_2 18_not found](https://user-images.githubusercontent.com/39675808/43852455-e777a3c0-9b02-11e8-9e40-6d9f75c5cec0.png)

[2018-08-08 17:09] orthecreedence commented on #131
The issue with the missing text should be pretty easy (I think it's just a setting in the localization library to ignore blank entries), so I'll focus this issue on the openssl failure. Looks like I may have to bundle the CA list with the desktop app like I do with android.

[2018-08-08 17:12] orthecreedence commented on #130
Yes, I can do this. I think originally I wanted to, but did not because it would have made generating the SHA256 sums slightly more involved with the automated build process I have. Seems it might be worth putting int he time to include the version though.

[2018-08-08 17:13] orthecreedence commented on #130
Note to self: need to remember to update the new www site to embed the version in the download links.

[2018-08-08 19:19] orthecreedence commented on #128
https://stackoverflow.com/questions/39744926/how-can-i-compile-a-rust-program-so-it-doesnt-use-cxa-thread-atexit-impl

^ Looks like a good starting point, and I've confirmed the only GLIBC 2.18 symbol is `__cxa_thread_atexit_impl`. I can try to take a look at this tonight. Do you know what version of glibc you have?

[2018-08-08 19:21] orthecreedence opened #132 "Bundle openssl libs with (all) desktop releases"
Apparently people are having issues with openssl on linux as well (not just windows). So it looks like I need to bundle the openssl libs on the build machines with the desktop releases. Need to look at OSx as well.

- [x] linux
- [x] osx
- [x] windows

[2018-08-09 02:02] #131 closed, assigned to orthecreedence

[2018-08-09 06:46] aptmiguk commented on #128
In this thread: https://github.com/turtl/tracker/issues/128#event-1778274961

rpm -qf /lib64/libc.so.6
glibc-2.17-222.el7.x86_64

Thanks!!

[2018-08-09 14:55] peakgeek opened #133 "Can't select a board that is in a different space."
Imported all of my notes from the previous version, loved the idea of the different "spaces" and started moving my boards accordingly. There are still a number of notes that are in the "Imported" space that weren't assigned to boards. Now that there are no boards left in the "imported" space I can't move those notes anywhere. When editing one of the notes, the "select board" drop-down is empty.

I

[2018-08-10 07:09] orthecreedence commented on #132
Yeah, so turns out linux64 was statically linking openssl, linux32 was not. I think static linking should always be the norm. Need to check osx.

[2018-08-10 11:42] aptmiguk opened #134 "rc4 openssl verify error"
Hi,

Not sure if this is one of the known openssl issues, but on Fedora 28 (x64) I'm getting this when trying to log in:

``
Login failed - Error: An error in the OpenSSL library:certificate verify failed
``
![turtl-openssl-error](https://user-images.githubusercontent.com/39675808/43956088-663947ca-9c68-11e8-8103-12a03ebdf917.png)

I ran it with the commandline as well, but it didn't give much mor

[2018-08-10 21:30] orthecreedence commented on #128
Hey @aptmiguk , can you put the attached `libturtl_core.linux64.so` file into your local install (`/path/to/turtl/resources/app/build/libturtl_core.so`) and test it out? I rebuilt my build machine on an older version of debian (I actually wanted to move the build system to docker anyway, so you gave me a good excuse) which has an older glibc (2.13 i think). Hopefully it works. If so, I'll use the

[2018-08-11 08:44] aptmiguk commented on #128
~~@orthecreedence , I did put the file where you said to... however, now I'm plagued with this: https://github.com/turtl/tracker/issues/134~~

Sorry that was tested with Fedora. I'll post back with specifics on CentOS.

[2018-08-11 17:43] orthecreedence commented on #134
This is a dupe of the (now fixed) #131

[2018-08-11 17:43] #134 closed, assigned to nobody

[2018-08-13 04:46] orthecreedence commented on #133
Thanks for the feedback! This is slated to be released with 0.7.1 (I wanted to focus on bigger issues for 0.7.0): #83

[2018-08-13 04:46] #133 closed, assigned to nobody

[2018-08-13 06:11] orthecreedence commented on #130
This is done, will take effect on the next RC release.

[2018-08-13 06:11] #130 closed, assigned to orthecreedence

[2018-08-13 06:22] orthecreedence opened #135 "Client sends duplicate syncs"
This manifests as a bunch of duplicate key errors. I tried fixing the sync "add" actions to upsert instead of insert, but the clients just keep sending the same sync post over and over.

The server takes the sync, acts on it, but the client disconnects before it gets a response. Don't know whether the disconnect initiates from the server or the core. My gut says server (not the node app but someth

[2018-08-13 07:45] orthecreedence commented on #132
OSx def not using static ssl libs. set `OPENSSL_STATIC := static` in the make and it had a hissy fit. Figured the bundled ssl was crap so compiled it from scratch. Still throwing a fit.

[2018-08-13 07:45] aptmiguk commented on #128
@orthecreedence , Fedora works with all the fixes. However, with CentOS 7 I'm still getting the same error (in the screenshot) as before.  I used rc4, added the zip's file from your post, added the cacert.pem to apps/turtl/resources/app/scripts/resources/, and put in the new _functions.js and core.js.

Did I miss anything or put something in the wrong spot?

[2018-08-13 07:49] orthecreedence commented on #132
Figured it out! `vars.mk` had `OPENSSL_LIBS_DIR`. Should be `OPENSSL_LIB_DIR`. Derr.

Up next is windows, although I seem to remember there being a reason I didn't statically link openssl on windows. Probably couldn't get it to compile. Since the issue is to "bundle" openssl (not necessarily static compile it) I think we can close the file on this one. Also, the osx build now uses sodium 1.0.16. (

[2018-08-13 07:49] #132 closed, assigned to orthecreedence

[2018-08-13 17:32] orthecreedence commented on #128
No you put it in the right spot. I guess I should have read more about this before stampeding forward. My understanding was that if I recompile Turtl core with rust on a system that has an older glibc, that library will work when running on the older system. My understanding was incorrect, and [apparently I have to compile rustc itself against the older glibc](https://github.com/rust-lang/rust/iss

[2018-08-13 17:35] orthecreedence commented on #128
Also, I'm adding the `help-wanted` tag...if anyone wants to get me a Dockerfile that automates this for me, I'll gladly include that into the build system.

[2018-08-13 18:49] Shamp0o opened #136 "Android app fails to load properly"
I cannot get the Android app to load properly on either of my phones (mako and whyred). When launching the app I get the white screen with the turtl icon at the top left but the login query is missing.

[2018-08-13 19:55] orthecreedence commented on #136
Which version of Turtl? Is this the 0.7.0 from here? https://github.com/turtl/android/releases

[2018-08-13 22:43] Shamp0o commented on #136
yes, exactly. The -rc4 one in particular.
Version 0.6.4 from the Play Store works but is extremely laggy.

[2018-08-13 22:54] orthecreedence opened #137 "Make sure to use pg pooling"
https://node-postgres.com/features/pooling

[2018-08-13 22:56] orthecreedence commented on #136
Is there any chance you have you used remote webview debugging via chrome before? If so, it would be really helpful if you could send me a screenshot of the console error you're getting when loading the app.

Although, after all the whitescreen errors people are getting when trying to load the app, I think I might just need to build in an error page that displays the problem.

[2018-08-14 05:14] #137 closed, assigned to orthecreedence

[2018-08-14 05:51] orthecreedence commented on #135
Figure this out! The server adds the sync items serially (it has to), and since the db is kinda far from the app server, we get latency on the connections, and syncing the full 32 items takes longer than whatever the default timeout is for the bulk outgoing sync POST.

The fix for this is two-fold: set `sync.max_bulk_sync_records` -> `4` on the server config (until we have a better setup), and als

[2018-08-14 05:51] #135 closed, assigned to orthecreedence

[2018-08-14 10:12] Shamp0o commented on #136
I'm sorry, I've never done that before.

[2018-08-14 18:26] orthecreedence commented on #136
No problem, that might actually be a good thing since I need to build an error screen for when that happens.

[2018-08-19 00:02] jacobc-eth commented on #136
I am also having the exact same issue with both rc4 and 0.6.4.

I don't recall ever using the remote webview. I use the Linux desktop app and the Android app only.

[2018-08-19 22:06] orthecreedence commented on #136
Hi, everyone. I just released RC5 (https://github.com/turtl/android/releases/tag/v0.7.0-rc5). This includes a change that should (hopefully) show what the error is when loading without need you to do any kind of debugging.

Please give it a shot and let me know if it spits out anything interesting. This won't fix the loading issue, but it may point in the right direction. Also, if anyone having is

[2018-08-19 22:39] Shamp0o commented on #136
For some reason RC5 is working just fine on both of my devices. Loading issues are gone. Thanks for doing this, by the way.

[2018-08-19 22:48] orthecreedence commented on #136
@Shamp0o thanks for reporting! That's weird it fixed itself, but I'm glad it works now =].

[2018-08-20 22:01] microcreators opened #138 "installation script warning"
hi. should i be worried by this? just started to play with the server and its setup... thanks.

`npm WARN deprecated hoek@2.16.3: The major version is no longer supported. Please update to 4.x or newer`

[2018-08-21 08:45] microcreators commented on #138
Ignore me. It's working anyway. Sort of ;)

[2018-08-21 09:52] microcreators opened #139 "Desktop: OSx copy/paste not working"
cmd+c / cmd+v shortcuts don't work and aren't assigned to the actions? a bit painful while migrating from Keep or when creating check lists. this is 0.7 rc5

[2018-08-21 14:27] naraesk opened #140 "Server sync issues: error in syncing space breaks entire bulk sync + deleting space that doesn't exist should be allowed"
I'm using v0.7.0-rc5 on Arch Linux. That's the first RC that runs without problems on my system, haven't noticed any critical things so far. Well done! :-)

I've noticed only some small issues, e.g., settings for spaces are not stored properly.

- "Set this as your default space" has no effect at all. After closing and reopening turtl the old space is the defautl space again.
- Same for renaming s

[2018-08-21 15:53] microcreators opened #141 "Server: request logging not happening when errors occurz"
Would love to have IP indicated next to errors in the log. Especially true for auth errors, so that I could fight back and ban / zipbomb abusers out there ;)
All I see today is `error: tres.err -- (uid null): bad login: (bad auth)`

[2018-08-21 15:55] #138 closed, assigned to nobody

[2018-08-22 16:47] orthecreedence commented on #139
Thanks, I'll check this out.

[2018-08-22 16:49] orthecreedence commented on #140
Can you check `Settings -> Sync info` and tell me if you have anything in there? This shows pending sync items that have yet to be sent to the server. Generally it should be empty if things are working. It will (hopefully) show you the error if something is wrong.

[2018-08-22 16:56] orthecreedence commented on #141
Yeah, you're right, the request logging doesn't happen when there's an error response. Weird.

[2018-08-22 17:29] naraesk commented on #140
It says "Connected" and "You have 79 pending sync item(s)". Followed by 79 items (keychain, spaces, boards, and nodes) with status "Ready to sync". I don't see any error messages.

 I've created a new account and a new keychain with RC5.

[2018-08-22 17:39] orthecreedence commented on #140
Are any of the sync items in an error state?

[2018-08-22 17:40] naraesk commented on #140
It just looks like this:

![screenshot_20180822_194020](https://user-images.githubusercontent.com/7393797/44480307-352d9700-a643-11e8-8478-83113cac8e97.png)

[2018-08-22 17:44] naraesk commented on #140
Debug log has a lot of entries like this:

2018-08-22T19:41:47 - [INFO][turtl_core::sync::outgoing] SyncOutgoing.run_sync() -- sending 79 sync items

The number after space is much longer than 0165546, censored it just in case ;-)

[2018-08-22 17:44] orthecreedence commented on #140
This is the server log:
[code]

Apparently it thinks you do not own the space that's being edited. I might need to take a deeper look.

[2018-08-22 18:10] orthecreedence commented on #140
Ok, I see the issue. Looks like it did delete the space in an earlier sync, then the sync as a whole failed (probably a closed connection caused previously) and now it keeps trying to resend the same sync over and over (and delete a space that doesn't exist). I need to make a change to the server that allows a delete on a space that doesn't exist. I'll let you know when this is done.

[2018-08-22 18:17] naraesk commented on #140
Thought the root cause might be that the keychain could not by synced. Is it possible to sync notes and spaces without a synced keychain?

Thanks for having a look at it.Will test the fix as soon as it is available.

[2018-08-22 19:00] orthecreedence commented on #140
The keychain is actually syncing fine, but the space being synced directly after it is the one failing. Oddly, the server should accept the keychain sync and return the rest as errors. I may need to fix that first (so the server actually handles the error correctly instead of throwing out the entire sync), then push the change to allow deleting and already-deleted space.

[2018-08-22 19:31] orthecreedence opened #142 "Core: surface notes with crypto errors"
The idea is if a note cannot decrypt, we still want to show it in the interface with a "crypto error" message (like in v0.6.x) so users know they are missing notes.

I'm hoping that there will not BE any crypto errors, but during testing, it would be helpful to surface this.

[2018-08-23 03:14] #141 closed, assigned to orthecreedence

[2018-08-23 03:14] orthecreedence commented on #141
Fixed!

[2018-08-23 05:19] #140 closed, assigned to orthecreedence

[2018-08-23 05:20] orthecreedence commented on #140
This should be fixed. Did two things: one sync item failing won't crash the entire sync (and confuse the client) and secondly, deleting a space that's already deleted will just do nothing (not throw an error).

[2018-08-23 08:09] microcreators commented on #141
Hmmm... Running a clone from this morning and still getting
`error: tres.err -- (uid null): bad login: (bad auth)`

[2018-08-23 08:22] microcreators opened #143 "Android: tagging inconsistent"
On mac, whenever I press `comma` or `enter` the tag is recorded. Cool.
On android it works differently and there are 2 problems there:

- `comma` doesn't attach a tag
- even if you type several tags properly separated and press `done` button, they aren't saved. Why? Because you need to press `enter` first. It's just not obvious.

IMO either fix the `comma` thing or parse and save properly when lea

[2018-08-23 08:49] microcreators opened #144 "Overall UX and so much clicking"
So I've been using Turtle for a few days now and I like it. I'm considering moving out of other solutions, but the more I use Turtl, the more I'm convinced the UI/UX can be improved. There's so much clicking around for everything... My impression below. Don't look at it as me being pain in the azz, but rather an attempt to make things a bit faster and more intuitive.

_ranting mode on_

**Basic in

[2018-08-23 10:13] microcreators opened #145 "Checkboxes not reflected until a note is closed"
- have a list of checkboxes saved in a note
- open it again
- edit it
- mark one checkbox done [x] (because you cannot click it in the view mode... duh...)
- close the editor. **the checkbox is still not checked**.
- close the note. now the change is reflected.
thank you.

[2018-08-23 15:36] orthecreedence commented on #141
Yes, you will get the same error, but the line directly below it will have your IP:

[code]

[2018-08-23 19:56] naraesk commented on #140
You have 0 pending sync item(s)

Thanks. :-)

[2018-08-23 20:11] #136 closed, assigned to nobody

[2018-08-23 20:23] jacobc-eth opened #146 "Turtl RC5 Android app crashes during account migration"
Upon logging in on RC5, I'm prompted to log into my account. However, when I create a new password and initiate the account migration process, the app tells me "This might take a few minutes" and then a few seconds later abruptly crashes with the message "Turtl has stopped." There is no further error being served up.

[2018-08-23 20:32] microcreators commented on #141
That may not help as IDS soft like fail2ban parse log lines in search of abuses and IPs. But thank you. I think I'll get turtle+nginx combo and work on web server logs instead.

[2018-08-24 17:27] snaggen commented on #42
I agree that core support is the way to go. Building it on markdown would probably give a less flexible solution. I suggest you take a look on how Google Keep handle checkbox lists, it is the best I found so far.
Things that I think are a musts and nice to have for TODO-lists:
MUST: Wysiwyg! You get a checkbox automatically at the beginning of the lines, and you can just click them to check them.

[2018-08-24 19:56] orthecreedence opened #147 "Migration choking on utf8 characters from v0.6"
Seems we get:

[code]

when there are utf8 characters (or even `&`) in notes. Needs investigation before release. A user who reached out has a fairly repeatable test case, so be sure to follow up w/ them over email if reproduced/fixed.

[2018-08-24 20:10] orthecreedence commented on #146
Can you do me a favor? Instead of migrating, sign up with a new account (you can use a BS email if you want), then go to Settings -> Debug log -> Select "Load everything" in the dropdown/select box, and paste the result here? This might have some clues as to what is happening during migration. Thanks!

[2018-08-25 10:13] PxSonny opened #148 "Cannot start the RC6 on Windows 10"
Hi,

As you can see in the screenshot below:

![image](https://user-images.githubusercontent.com/6723977/44617277-533d0680-a892-11e8-9511-9f3f6d522ace.png)

I have this error message:
[code]

Hoping it can help to progress onto the release :)

Cheers,
Sonny

[2018-08-27 07:13] orthecreedence commented on #148
This should be fixed in RC7: https://github.com/turtl/desktop/releases !

If not let me know and I will reopen.

[2018-08-27 07:13] #148 closed, assigned to nobody

[2018-08-27 09:54] PxSonny commented on #148
It's fixed, awesome thanks.

[2018-08-27 13:50] orthecreedence commented on #147
Not able to reproduce this at all. Tried with a number of different languages, gibberish, binary data, different note lengths, etc. I've confirmed that both the offending notes and my notes are encoded with the stupid "utf8" byte.

I'm going to use from_utf8_lossy when decoding the notes from the migration and hope for the best.

[2018-08-27 15:43] orthecreedence commented on #139
@microcreators can you give rc9 a shot? I think this might be fixed. https://github.com/turtl/desktop/releases/

Thanks!

[2018-08-27 15:43] orthecreedence commented on #143
Good notes! I will see about fixing this on Android.

[2018-08-31 06:30] monnypython opened #149 "Inline JavaScript is not enabled"
I had some trouble by build the Desktop-App on Arch because i'm not a "Linux-build-pro".
The build process of core and desktop are successful (build problems with openssl i had solved with this information: [https://blog.tribly.de/2017/06/28/Rust-Arch-OpenSSL/](https://blog.tribly.de/2017/06/28/Rust-Arch-OpenSSL/).
After run `make run` in desktop folder i get this java error.
How can i fix this?

[2018-09-01 04:56] orthecreedence commented on #149
Looks like it's trying to interpret `.card()` in the CSS as javascript, which means `lessc` didn't run. The most likely cause would be that you may not have run `npm install` in the `js/` folder. If you did, try running it again anyway, then doing `make run` in `desktop/`. Be sure to follow all the steps here: https://github.com/turtl/desktop/#setup

[2018-09-01 05:44] monnypython commented on #149
I did all the steps exactly following the instructions, but I found a solution. The problem is the disabled inline javascript starting at less 3.x. I did the following before the make run:
`npm uninstall less` and
`npm install less@2.7.0.`
After that, the make-run process ran smoothly. Everything is going beautifully now.

Love turtl now ;)

[2018-09-01 06:32] orthecreedence commented on #149
Glad that worked!

[2018-09-01 06:32] #149 closed, assigned to nobody

[2018-09-03 00:29] orthecreedence opened #150 "Connection notification not working properly in Android"
This is a split off from #144 since it's not a UX problem but likely a bug.

@microcreators when this happened again, can you go to Settings -> Debug log and copy/paste the result here? Thanks!

[2018-09-03 00:37] orthecreedence commented on #144
Thanks, all very helpful.

Regarding Save vs Done, can you tell me the places you saw "Done?" I think I found one in the note tag editor, but if you know of any more let me know. I will change these to "Save."

As far as auto-saving goes, This is probably something that will happen soon enough. We've gotten enough requests for it (and it seems to be the norm with other note apps) that I think it m

[2018-09-03 00:39] orthecreedence commented on #145
Thanks for the report, I'll take a look at this when I get a moment. Ideally the boxes could just be checked from the note view and would save automatically without having to edit (obviously).

[2018-09-03 00:41] orthecreedence opened #151 "Rename all "Done" buttons to "Save""
It makes sense to have consistent UI actions. Splitting off from #144.

[2018-09-03 00:48] orthecreedence opened #152 "Auto-save notes when leaving (remove "Save" button from editor)"
The idea is you get rid of the "ARE YOU SURE YOU WANT TO LEAVE? REALLY? WHY NOT SAVE YOUR CHANGES?!?!" alert and just save automatically. Split off from #144.

[2018-09-03 00:52] orthecreedence commented on #144
I'm going to close this now, since all the separate issues have been created.

[2018-09-03 00:52] #144 closed, assigned to nobody

[2018-09-06 04:43] #151 closed, assigned to orthecreedence

[2018-09-06 04:45] orthecreedence commented on #146
@jacobcantele Oh, also, can you give me details on what platform you're testing on? Thanks!

[2018-09-06 05:04] orthecreedence commented on #147
The person who reported this gave specific characters that were breaking:

[code]

I tried adding these to various notes in various combinations to a ffresh 0.6 account and importing it. No errors at all; everything utf8-decoded just fine. However, they are able to reproduce consistently. The commit above allows migration, but replaces the failed characters with the utf8 `<?>` (unknown char).

Use

[2018-09-06 05:22] orthecreedence commented on #147
Just migrated my test account (v0.6 -> v0.7) about 20 times. No errors. And it has plenty of UTF8 characters.

[2018-09-07 07:22] MaxCreeger32 opened #153 "Failed Connection behind proxy"
Hello I am using the turtl desktop RC-9 for windows 10 and compare to the latest stable version (0.6.4), I have connection issues.
 - At home , no proxy ==> All good
 - At work , proxy ==> os error 10060
![turtl_failed_connection](https://user-images.githubusercontent.com/31531494/45204240-e442b300-b27e-11e8-8e17-7e84f42d9ce7.PNG)

I have not any log in any directories of turtl (AppData/Roaming, A

[2018-09-10 00:15] orthecreedence opened #154 "Backspace not working properly in editor on Android"
From a `v0.6.4` user:

I haven't verified this yet on v0.7.0.

[2018-09-10 00:22] orthecreedence commented on #153
There is no way of configuring proxy settings through the app currently. How is the work proxy set up? Is this a system-wide proxy? And was there any special setup you did with v0.6.4 that you can remember?

On your work computer, are you able to access https://apiv3.turtlapp.com/ ?

Thank you for your help in tracking this down.

[2018-09-10 06:42] MaxCreeger32 commented on #153
with the browser,  It seems that API url is accessible beacause i have this resulting JSON :  ```{"greeting":"Hi."}```
I am sorry I have no idea how the proxy works, there is no configuration in the browser or in the internet preferences of the computer.
In v0.6.4, I did not do anything for the proxy configuration.
Is there a way to activate some logs to see what happens more precisely ?

[2018-09-11 14:18] orthecreedence commented on #153
There should be a log at `c:\Users\<username>\AppData\Roaming\Turtl\core\core.log`. If you post the contents, it might help debug a bit. Thanks!

[2018-09-11 14:27] MaxCreeger32 commented on #153
This is the only log I have into this file :
`2018-09-11T16:22:45 - [INFO][turtl_core] main::init() -- created data folder: C:\Users\datas\AppData\Roaming\Turtl\core
2018-09-11T16:22:45 - [INFO][turtl_core] main::start() -- begin
2018-09-11T16:22:45 - [INFO][turtl_core::messaging] messaging::start() -- main loop
2018-09-11T16:22:45 - [INFO][turtl_core::messaging] messaging::ui_event() -- messaging

[2018-09-11 14:27] orthecreedence commented on #147
@lambd0x Good news! Just migrated your test account:

[code]

So it breaks for me migrating your account. Here's what I can tell:

- Migration breaks for you when importing *your* v0.6 account
- Migration breaks for me when importing *your* v0.6 account
- Migration works for me when importing *my* v0.6 account

My guess is that the v0.6 version is encoding UTF8 poorly (maybe based on the device's

[2018-09-13 18:37] orthecreedence opened #155 "Export note to PDF"
This would allow creating a PDF file from a note.

Not sure if this would live in the js side of things, or if we'd have a layout engine in the core that would convert markdown to html, then render it. Either way, this would probably touch the core and require some kind of HTML rendering engine. Luckily this is possible in rust (and may eventually be desirable because of web clipping) but is a big

[2018-09-15 07:43] orthecreedence commented on #147
I think this is fixed. I assumed all our strings were UTF8. They are not. In fact, Javascript encodes strings as UTF16. However, some of the data was apparently being stored as Latin1 encoding. I'm not going to lie and say I understand the details of which encoding is used when. However, the migration process now tries UTF8, Latin1, UTF16 (in that order), only failing if all three encodings fail,

[2018-09-15 07:43] #147 closed, assigned to orthecreedence

[2018-09-15 07:44] orthecreedence commented on #150
Closing. Unverified, no activity. If it comes up again, we'll open another issue.

[2018-09-15 07:44] #150 closed, assigned to orthecreedence

[2018-09-15 07:45] orthecreedence commented on #146
Closing for inactivity. If it comes up again, we'll open it back up.

[2018-09-15 07:45] #146 closed, assigned to orthecreedence

[2018-09-15 07:45] orthecreedence commented on #139
Probably works! Closing.

[2018-09-15 07:45] #139 closed, assigned to orthecreedence

[2018-09-15 07:57] orthecreedence commented on #153
Yeah there is. You'd go to `C:\Program Files\Turtl\resources\app\build`, edit `config.yaml` and set the log level to `DEBUG`:

[code]

[2018-09-15 17:45] orthecreedence opened #156 "Page position lost when editing a note"
This is a pretty big UX issue, so I'd like to fix.

[2018-09-16 20:27] Tom3141 opened #157 "Problems build turtl desktop and android from source"
Hi I was attempting to build the turl desktop from source on ubuntu 16.04 64 bit according to the https://github.com/turtl/desktop build instructions.
I had to install a bunch of dependencies that need to be installed not listed in the instructions.
Anyway, I was running the make run command I ran into this issue.

[code]

The issue seems to be a permissions thing.  This seems a bit odd to me, and

[2018-09-16 20:38] Tom3141 commented on #157
Ok... I ran
"make run"  as
"sudo make run"
that seems to make it work ok.
Should the permissions be changed on /home/jonasthomas/.config/Turtl/

I'm getting a message to update the database,  if I do that, will I currently still be able to access the database from my android phone?  I'm currently running 6.4 on android?
To answer my own question, it is apparently different.  It appears that the fi

[2018-09-16 21:45] l4mbd0x commented on #147
Am glad for being of help :).

[2018-09-16 21:59] l4mbd0x opened #158 "Note's contents search feature request"
While it's ok to no have this feature for short notes (no bigger than 100 lines), when it becomes bigger than that, it becomes a really waste of time to scroll down to a specific content of the note. Specially if you remember that you took note of it, but are not exactly sure of the location of the annotation within that specific note. This search button would exist for both the visualization and

[2018-09-16 23:41] Tom3141 commented on #157
So I managed to get the desktop app running from source and I updated the database.  The 6.4 Android app does not seem to recognize this new version.
So tried building the Android app from source according to these directions https://github.com/turtl/android/commit/648ac68a3a6c76e38979e7716d67887b99f66df0  on ubuntu 16.04 64 bit

When I tried installing cordova, I get this
[code]
googling this too

[2018-09-17 05:37] orthecreedence commented on #157
Are you building the v0.6.4 version of Turtl? Or the v0.7.0 version?

[2018-09-17 05:40] orthecreedence commented on #158
I believe this is a duplicate of https://github.com/turtl/tracker/issues/18.

The idea is you could type `ctrl+f` (like in a browser) and be able to search the text that is currently being displayed. I think this would solve your issue once it is completed!

[2018-09-17 05:40] #158 closed, assigned to nobody

[2018-09-17 06:49] #156 closed, assigned to orthecreedence

[2018-09-17 07:15] orthecreedence commented on #147
Thank you!

[2018-09-17 14:31] l4mbd0x commented on #158
Indeed it would, nice :).

[2018-09-17 15:47] l4mbd0x opened #159 "Share feature only allows for space sharing over latest 0.7.x release"
Using the latest 0.7.x release an user can share with a validated account a space to another user whose account is also validated, but cannot share anymore only one board with another user (regardless of the note amount).

- The test bed has to have both parties using the latest release (previous releases were not tested).
- Maybe it would be commendable to verify which release broke the board sha

[2018-09-17 16:08] l4mbd0x opened #160 "Settings should have a back button to your last open space"
When a user goes from any specific space to access its settings the process required in order to go back to this very space is:
1. Click over your settings
2. Click over All notes.

Instead of it, it would be better and also intuitive to have a back/return button on the Settings menu such as the attached for illustrative purposes to return to the current space.
![aaa](https://user-images.githubuse

[2018-09-18 03:56] Tom3141 commented on #157
Client version: desktop-0.7.0
00ae955809d03fa2e83b6d7733c1c96aa0384da8

[2018-09-18 09:52] eternaltyro commented on #23
Yes, publishing this on F-Droid will definitely increase visibility. I used to use Turtl ages ago. Now that it's being actively developed, it's better to publish even beta quality app releases to F-Droid. That way, more people will test it.

[2018-09-18 10:01] eternaltyro commented on #23
Apparently, being a cordova app is a problem for building on F-Droid: https://gitlab.com/fdroid/rfp/issues/412

[2018-09-18 10:02] eternaltyro commented on #23
Also, there's a repo just for F-Droid here but it does not seem to have been updated in the past two years: https://github.com/turtl/fdroid

[2018-09-18 10:10] Rudloff commented on #23
To clarify, it is not really a problem. It's just that it is a lot easier for us to package the app if the Android project generated by Cordova (usually in `platforms/android/`) is published in the repository.

[2018-09-18 18:12] orthecreedence commented on #23
I can easily revive the [turtl/fdroid](https://github.com/turtl/fdroid) repo in the build process. I've been really busy with the v0.7.0 release and haven't had time to do this yet. Since it's fairly easy, I'll add it to the v0.7.0 milestone.

[2018-09-18 18:14] orthecreedence commented on #95
This is a dupe of #22 ...closing.

[2018-09-18 18:14] #95 closed, assigned to orthecreedence

[2018-09-18 18:24] orthecreedence opened #161 "Import from Google Keep"
This would be a command-line utility that uses https://github.com/kiwiz/gkeepapi to create a JSON dump in Turtl's v0.7.x import format. I'm not going to integration python into Turtl just for this util, which is why it makes sense to keep it separate.

Sucks Google Keep is so locked down.

[2018-09-18 18:36] orthecreedence commented on #157
I'm assuming you have the [core](https://github.com/turtl/core-rs) project building? If not, that's the first step, otherwise android/desktop will not work.

As far as the folder structure, it's

[code]

so they should all have those exact names and should be next to each other in the `turtl/` folder.

So for desktop, did you get it running? It's not clear from your messages.

For android, you'll

[2018-09-18 18:43] orthecreedence commented on #159
This is by design, in the latest version only spaces can be shared, and boards are used to organize notes within spaces. I know this is a bit different from the previous version, but it simplifies things a lot (both for development and for users) and I think it makes sense.

At some point, we might add more granular sharing for Turtl, but for now only spaces can be shared.

[2018-09-18 18:43] #159 closed, assigned to nobody

[2018-09-18 18:45] orthecreedence commented on #160
This is a GREAT idea.

You're right, it's annoying that it doesn't remember where you came from and have a back button. I'll add this into the next release.

[2018-09-19 01:00] Tom3141 commented on #157
I did get the desktop running.  (The latest version interesting.  I'm looking forward to getting the android versions working.)
I'm getting a weird error... Need to do a little googling here.

Using cordova-fetch for cordova-android@6.3.0
Adding android project...
Creating Cordova project for the Android platform:
	Path: platforms/android
	Package: com.lyonbros.turtl
	Name: Turtl
	Activity: MainAc

[2018-09-19 01:41] Tom3141 commented on #157
I re-made it with a sudo and it seemed like that moved it along.
jonasthomas@jonasthomas-ThinkPad-W530:~/turtl/mobile$ sudo make release
[sudo] password for jonasthomas:
- index.html:  www/app/index.html scripts/gen-index www/version.js www/config-core.js
cp www/config.js build/config.js.tmp
cp www/config.live.js www/config.js
- www/cacert.js: scripts/cacert.pem
./scripts/cordova.sh prepare androi

[2018-09-19 02:56] Tom3141 commented on #157
So.. I did a bit of googling and supposedly the solution is needed make an adjustment to my .bashrc
 where I added the following and rebooted.
[code]
When I rebuilt the mobile app I got this:

What's curious, is that is that if I run android from the command prompt  I get this:

Is my only option to downgrade my Android sdk to one that supports the "android" command?

[2018-09-19 04:13] orthecreedence commented on #157
Looks like `ANDROID_HOME` still isn't being set? Try

[code]

[2018-09-19 04:31] orthecreedence opened #162 "Convert line breaks to <br> in note editor"
This is a pretty highly requested feature, and just makes sense TBH. Do we really expect people to do double-space? Let's meet in the middle here.

[2018-09-19 04:33] #162 closed, assigned to orthecreedence

[2018-09-19 04:53] orthecreedence commented on #23
@Rudloff actually, I just realized that the android app (as of v0.7.0) bundles two `.so` files, which are compiled versions of the [core](https://github.com/turtl/core-rs). This probably complicates things. I think I'm going to move this discussion to the gitlab issue: https://gitlab.com/fdroid/rfp/issues/412

[2018-09-19 05:43] orthecreedence opened #163 "New notes not being shown in note list"
I think this is a bug caused by #156.

Confirmed this is broken on both android/desktop, and core log shows syncing, so it's definitely the interface.

[2018-09-19 05:47] orthecreedence commented on #163
Ok, so the notes ARE being added, but to the end of the list. In other words, sorting is not being applied correctly LOL.

[2018-09-19 06:01] orthecreedence opened #164 "Note.mod not being set on edit"
It seems to be getting a value (like `499`) but this should be a timestamp.

[2018-09-19 06:06] #163 closed, assigned to orthecreedence

[2018-09-19 06:19] #164 closed, assigned to orthecreedence

[2018-09-19 06:43] #160 closed, assigned to orthecreedence

[2018-09-19 06:46] orthecreedence commented on #160
This is fixed and will go out in the next release!

[2018-09-19 07:19] orthecreedence opened #165 "www revamp/redesign"
Add a feature list and some more screenshots. Maybe use some turtle imagery. Really want to keep away from it looking like an open-source project website like many others (Omni/Joplin). Needs to retain its "this is a product" look/feel.

Some good examples:

- https://products.office.com/en-us/onenote/digital-note-taking-app
- https://evernote.com/
- https://simplenote.com/ (a bit bland for Turtl,

[2018-09-19 12:00] eternaltyro opened #166 "Turtl android release candidates on same commit"
All turtle releases from RC6 - RC12 are off the same commit: https://github.com/turtl/android/commit/2b783491b730d5f07026ee71c26ca917ba3b2bf7

https://github.com/turtl/android/releases

[2018-09-19 16:44] orthecreedence commented on #166
This is fine. The Android app bundles resources from the [core](https://github.com/turtl/core-rs) and [js](https://github.com/turtl/js) projects, so if those change, we will release a new RC along with Desktop. Although the commit in Android doesn't change, it's bundled with new assets/libraries.

[2018-09-19 16:44] #166 closed, assigned to nobody

[2018-09-19 19:59] l4mbd0x commented on #145
Please take a time to finish this feature. Because it will enable users to create truly interactive todo lists of whatever they want, which will facilitate for instance to use Turtl from places such as a markets where one will have a todo list of items to buy up to a company project todo list of tasks to be implemented. Whatever the scenario, this is very powerful and engaging for any user.

[2018-09-19 20:24] l4mbd0x opened #167 "Changing note tags requires restart for tags to show in search"
@orthecreedence  remember those chars which used to broke the migration from 0.6.x release to the 0.7.x release? Well, they attack again :P.

This is related to the tagging system Turtl uses and has some case scenarios.

a) On the 0.6.x release when any special char would be used along as part of a tag identifier it would glitch two areas:
1. It would first add junk chars to the tag identifier aft

[2018-09-20 09:34] shsty commented on #157
I followed the guide above (plus some googling), successfully built the android apk (v0.7.0) and installed it on my phone ( Android 5.1.1, I tried to build the apk because the released apks with `minSdkVersion=23` doesn't support my phone ).
However when I run the app it shows:
[code]

Seems that it lacks the native library `libturtl_core.so`. So how should I build it?

[2018-09-21 04:21] orthecreedence commented on #157
libturtl_core.so requires rust, and the NDK for your android platform (to make a standalone gcc compiler for arm or arm64).

You have to compile libsodium, openssl, and turtl-core using the standalone NDK gcc.

It's actually kind of a pain in the ass, but I just made a script to automate it (and I have repeatable Dockerfile builds I'm going to publish soon): https://gitlab.com/fdroid/rfp/uploads/6

[2018-09-21 04:49] orthecreedence opened #168 "Android: run core in background service"
Here's the idea:

Right now, Turtl runs fully in the foreground. If it uses too much memory, or if the moon and planets align the right way, or if Android is just having a bad day, the foreground app is killed. We mitigate this by having a "Stay logged in" feature so when we open the app back up, it logs in automatically.

However, this loses the state of the app (the current space, the open note,

[2018-09-21 06:08] orthecreedence commented on #167
I am seeing this too! Fix on the way...

[2018-09-21 07:47] orthecreedence commented on #167
This is fixed! The tags now update as notes are added/edited/deleted. This will go out in rc13!

[2018-09-21 07:47] #167 closed, assigned to orthecreedence

[2018-09-21 07:47] orthecreedence commented on #32
Throwing this into v0.7.0 because ive already got the hood open for #167

[2018-09-21 07:52] orthecreedence commented on #32
Actually, re-opening until this is tested on Android

[2018-09-21 16:25] shsty commented on #157
It worked! I didn't run the script but I used the args in it. Now I have a working app after some effort. Thanks for your help.
Still it would be better for me if the official release supports android 5.1 and 5.0

[2018-09-21 21:47] apatil opened #169 "Include the Turtl client in the Linux download"
I'd love to use the CLI client at https://github.com/turtl/core_rs/tree/master/client . However, building it fails with

[code]

even though make succeeds in core-rs itself and the relative path in cargo.toml seems legit as per https://stackoverflow.com/a/33025972.

Rather having random people like me try to build the client, what would you think about including it in https://turtlapp.com/releases

[2018-09-21 22:48] orthecreedence opened #170 "Convert all .unwrap() into .expect()"
We use `.unwrap()` conservatively, but I'm realizing that it would make much more sense to use `.expect()` instead for the few places that it's used. It would allow us to give an exact place/message for failure, where `unwrap` is somethings very ambiguous, especially when nested deep in a thread somewhere.

[2018-09-21 23:47] #62 closed

[2018-09-21 23:51] orthecreedence commented on #145
This will definitely make it in. It's a somewhat complicated feature to implement, so it's going to be in v0.7.1 if all goes well with v0.7.0 (I really need to get 0.7.0 out the door).

[2018-09-22 00:46] orthecreedence commented on #32
Works great.

[2018-09-22 00:46] #32 closed

[2018-09-22 18:19] orthecreedence commented on #157
Glad it worked, closing this for now. @Tom3141 if you need any more assistance here feel free to ask on this ticket, i'll still monitor it.

[2018-09-22 18:19] #157 closed, assigned to nobody

[2018-09-22 19:24] orthecreedence opened #171 "Turtl CLI"
The idea would be you could add notes via the command line.

This is a lot more viable of an idea now that we have the core (it can just be loaded as a shared lib and wrapped via commands), however it's somewhat tricky because the core runs as a state machine and you'd have to log in, sync, and load the profile each time you ran a command.

There are two options here (that I can think of):

- On e

[2018-09-22 19:24] orthecreedence commented on #169
Right now, it's not even a cli per-se. It's more like a
[code]
prompt and you have to know the exact [dispatch](https://github.com/turtl/core-rs/blob/master/src/dispatch.rs#L37) command (and args) you want to run. So it'd be like

[code]
In other words, you have to have pretty intimate knowledge of the core in order to use it. It's really just for quick testing, and I recently made the core so it

[2018-09-22 19:24] #169 closed, assigned to nobody

[2018-09-23 02:08] #170 closed, assigned to orthecreedence

[2018-09-23 02:15] orthecreedence commented on #71
Closing this. I wanted to do something like ctrl+click for desktop, but we already use that to open links without opening the note, so I'm fine just leaving it as long press for now. A hover state is a crappy idea.

[2018-09-23 02:15] #71 closed, assigned to nobody

[2018-09-23 04:22] trymeouteh commented on #165
I think turtl looks good with the green look but a little touch up here and there would make it look sleek. I suggestion is to use less black and more white or a light grey.

[2018-09-24 01:24] l4mbd0x commented on #145
What will the development of v0.7.0 need to finish @orthecreedence?

[2018-09-24 01:46] l4mbd0x commented on #171
Could type 1 of your proposal be improved by adding some aspect of the second like this
- Hybrid type
  - Does indeed at the first run performs the user login, but also gens a ssh-like hash for the current terminal session or the session of current user logged in (don't know which would be the best, or even if another context would be better too).
  - Next time if neither of the requirements (eith

[2018-09-24 01:54] l4mbd0x opened #172 "Update note formatting help text"
The latest release (rc13) does supports tables but it is not documented over "Formating help" of a note.

and also over the website (presenting for the latter expanded case scenarios of use). Teaching one to become truly more productive by using a markdown based note application (Turtl's premise).

[2018-09-24 02:26] l4mbd0x opened #173 "Update version of markdown-it library"
Currently (rc13) markdown for **italic text** can be achieved by:
- _a_ with _ a _  (using it without spaces)
- *a* with * a *  (using it without spaces)
It is ok if a note has its text with either of both symbols used to identify italic
- I like *rc_13* with  * rc_13 * (using it without spaces)
- I like _rc-13_ with _ rc-13 _ (using it without spaces)
And it even works if it is using a _ in betwe

[2018-09-24 02:35] l4mbd0x opened #174 "Turtl's markdown parser doesn't allow for nested itemize-like and enumerate-like lists."
Over the current implementation (rc13) of Turtl it doesn't allow one to nest items (neither the itemize-like items nor the enumerate-like lists).

So Turtl's support should allow one to
- a
  - a
  - a
    - a
      - a
         - a

1. a
   2. a
   3. a
      4. a
        5. a
           6. a
Even Github's support doesn't allow for more than two enumerate-like lists. But Turtl's having it would b

[2018-09-24 02:54] orthecreedence opened #175 "Sync oddness"
Normally, the sync system has two modes: immediate and poll.

Immediate is called under one of two circumstances:
- The user just logged in and we're syncing all the changes since their last login
- The app disconnected, and is now trying immediate syncs in a 10s loop until it gets a connection

Looking through the server log, it seems some of our users are sending `immediate=1` almost on a loop,

[2018-09-24 02:59] orthecreedence commented on #145
There's one bug left (an obscure syncing bug, #175) which I think was the cause of one user's android client eating up 5gb of data that I want to fix before launch.

Other than that, I think v0.7.0 is more or less done. There are some things I want to do to the website (mainly so it points at the github release files since I'll no longer be hosting the installers directly on our website), and next

[2018-09-24 03:07] orthecreedence commented on #175
Possible candidate: `sync/incoming.rs::185`:

[code]
Maybe that unknown IO error is being thrown? Hard to say because I'm not hitting this, however it would throw the "Disconnected!" toast message which I'm sure I'd be hearing about more, so maybe not.

[2018-09-24 03:48] l4mbd0x commented on #145
Ok, will see if I can help with that.

[2018-09-24 03:59] orthecreedence opened #176 "File upload failure"
A user reported a file failing to upload, and then reported a 5gb data usage ont heir mobile device. Obviously, this is a serious issue. I'm wondering if it's related to #175 but very well could be different.

Sync info:
[code]
Debug log (shown every 1s):
[code]

Will post any more relevant info as I get it.

[2018-09-24 07:16] MaxCreeger32 commented on #153
I have tried many times but, I still no have any debug infos in the logs.
I have set the logging level to debug in ```config.yaml``` but it has absolutely no effect in the log.

[2018-09-24 14:33] l4mbd0x commented on #176
What is the maximum file upload size @orthecreedence ?

[2018-09-24 16:38] orthecreedence commented on #176
@lambd0x I don't believe there is a maximum. This was happening on the user's own server instance, so it would be up to their router/server setup. They tried uploading larger files after this and didn't have an issue, so I think something else happened here.

[2018-09-24 16:40] l4mbd0x commented on #176
OK.

[2018-09-24 16:46] orthecreedence commented on #176
More info from our mailing list user:

Further I found appr 2500 server-nginx.log entries ending around the time  I 'Cleared Local Data'
[code]

Also:
[code]

I think I know what happened:
- There were two clients at play
- Client A creates note with attached file
- Client A syncs note, waits for success response before trying to sync file
- User on Client B sees that note hasn't synced yet (it's

[2018-09-24 16:56] orthecreedence opened #177 "Core: lock data directory so only one instance can run"
We're seeing some cases where the core is being initialized multiple times somehow. I'm not sure how this happens, but it's creating conflicts (mainly in the syncing system but possibly other places as well). This actually appears to be the cause of #175, which makes sense because the logic in the incoming sync system seems pretty sound after a review last night.

I'm not sure the best way to impl

[2018-09-24 16:57] orthecreedence commented on #175
Closing this in favor of #177

[2018-09-24 16:57] #175 closed, assigned to orthecreedence

[2018-09-24 16:57] l4mbd0x commented on #176
Agreed.
One observation, shouldn't Turtl actually finish the file upload before displaying the existence of the file to user B? This way user B won't be able to act upon the uploading file and this would also avoid similar issues.

[2018-09-24 17:40] orthecreedence commented on #176
This is a great idea, it should either mark the file as pending or not show it at all. I'll see if I can throw that in while fixing this.

[2018-09-25 03:52] orthecreedence commented on #171
These are great ideas. Some kind of hybrid like this could certainly work. We'd have to let users know of the security trade off, but we're already doing things like that with the "stay logged in" feature.

[2018-09-25 04:05] orthecreedence commented on #172
I think the markdown tutorial text might start getting cluttered if we add too many examples.

That said, I think it makes sense to mention what flavor of markdown we support and also any other formats (like TeX math).

[2018-09-25 04:08] orthecreedence commented on #173
Good to know. It might be as simple as updating the markdown library we use (https://github.com//markdown-it/markdown-it). If that doesn't solve it, then these would be issues to bring up on their tracker.

[2018-09-25 04:10] orthecreedence commented on #174
Closing this in favor of #173 (mainly because we don't parse our own markdown, so we're kind of at the mercy of markdown-it).

[2018-09-25 04:10] #174 closed, assigned to nobody

[2018-09-25 04:11] orthecreedence commented on #173
Just to note, we use markdown-it `v8.0.0` and the latest as of this ticket is `v8.4.2` so we probably have a number of improvements waiting once we upgrade.

[2018-09-25 04:43] orthecreedence commented on #153
Do you have a firewall that could be blocking the connection?

[2018-09-25 07:27] #177 closed, assigned to orthecreedence

[2018-09-25 07:37] orthecreedence opened #178 "Mark notes with a file being uploaded as "pending upload""
There are two versions of this:

- on a note with a pending file upload, don't show the file at all on clients it hasn't synced to yet
- on a note with a pending file upload, let the other clients know there is a pending upload

The first is probably easier and actually might be more correct as far as how the UI should work, but the second might be worth looking into as well.

[2018-09-25 07:38] orthecreedence commented on #176
I split this idea off into a separate issue: #178

[2018-09-25 08:47] Rudloff opened #179 "Back button does not work on Android"
Hello,

Something I noticed when testing the F-Droid build:
When I press the back button on the login screen, it does nothing (I think it should close the app) and I get this error in logcat:
[code]

[2018-09-25 11:18] l4mbd0x commented on #173
Cool :)

[2018-09-25 16:31] orthecreedence commented on #179
Thanks for reporting! I'll take a look at this before v0.7.0 launches.

[2018-09-26 00:45] #179 closed, assigned to orthecreedence

[2018-09-26 00:51] #176 closed, assigned to orthecreedence

[2018-09-27 10:59] dbankmann opened #180 "Handwritten notes"
Hey,

would be nice to have the opportunity to also have handwritten notes, for example android tablets with pen-support.

[2018-09-28 16:20] l4mbd0x commented on #154
This is very true for the v0.6.4 release.
However I've been using the latest (rc-13) release over Android and I've noticed this problem no longer happens :).

[2018-09-28 16:22] l4mbd0x opened #181 "Space title takes a resync (logout and then login) to update */*-like titles"
It happens with the latest release candidate (rc-13).
All space titles will update without a problem once an user edit them (right after that the updated title is displayed over the spaces list). However, if a title is alike to the regular expression \* / * it will cause the title not right after being displayed. Requiring the user to logout and then login to have this space title updated.

[2018-09-28 20:06] orthecreedence commented on #154
Confirmed, now working on android. Closing. Thanks for giving it a try =]

[2018-09-28 20:06] #154 closed, assigned to nobody

[2018-09-30 21:52] Tom3141 commented on #157
Hey Andrew,
I tried your install  script and it did not complete. (I'm a little out of my league here.  Anythoughts?)
Here is the error message:

[code]
-----------------------------------------------
 Here are the contents of  `/home/jonasthomas/.cargo/config`
[code]

[2018-10-01 16:30] orthecreedence commented on #180
Agree, this would be great.

[2018-10-01 18:37] orthecreedence commented on #157
Here's what I have in my `~/.cargo/config`
[code]

[2018-10-01 18:44] orthecreedence commented on #181
Thanks, I'll check this out.

[2018-10-02 00:54] orthecreedence commented on #181
Seems that spaces only ever change once no matter what the title is. So you edit it once and it updates, if you edit it again it doesn't update.

[2018-10-02 01:03] orthecreedence commented on #181
Fixed in https://github.com/turtl/js/commit/c01f365dfa355261a379c6c85b7e4b6963b6ea9b

[2018-10-02 01:03] #181 closed, assigned to orthecreedence

[2018-10-02 01:06] orthecreedence opened #182 "Bookmarker is showing empty space list in desktop"

[2018-10-02 01:20] #182 closed, assigned to orthecreedence

[2018-10-02 03:29] l4mbd0x commented on #181
Nice job, man!

[2018-10-03 06:51] MaxCreeger32 commented on #153
I have verified the windows firewall on my computer but everything is ok. and the only thing that can block is the proxy that is set for all the company but via the browser the url is accessible.

[2018-10-04 00:09] asdfghjz opened #183 "Publish Turtl on Tor"
**Feature**: Add hidden services (i2p & TOR) server.
**Why**?: Cuz, I2p and Tor are E2E Encrypted and help with anonymity.

[2018-10-04 04:18] asdfghjz opened #184 "Browser extension README: Broken URL"
If you got to "[https://github.com/turtl/browser-extension](https://web.archive.org/web/20181004041716/https://github.com/turtl/browser-extension)" and click "[HTTP Server](https://archive.fo/quDEd)" it has a broken link.

[2018-10-05 04:47] orthecreedence commented on #183
I'm going to just use this to track just using Tor for now. I know less about I2P and how to publish a service on it. That said, I am certainly open to doing that as well, and might even give it a shot when doing the Tor stuff.

[2018-10-05 05:19] orthecreedence commented on #153
Can you confirm for me that the `Turtl server` URL under `Advanced settings` on the login screen is `https://apiv3.turtlapp.com` ?

[2018-10-05 05:20] orthecreedence commented on #153
I'm at a loss for how that url could work in the browser but not when trying to connect through the Turtl client, so I'm hoping that somehow the value in that "Turtl server" box is incorrect.

[2018-10-05 07:12] MaxCreeger32 commented on #153
yes that's this url :
![image](https://user-images.githubusercontent.com/31531494/46521037-8655bb00-c87e-11e8-94ef-578b61136318.png)

I really undesrtand your loss , this is really strange for me too.

[2018-10-06 16:05] orthecreedence commented on #153
Can you attach your entire log file to this ticket?

[2018-10-06 16:26] orthecreedence opened #185 "Implement sharing for individual boards"
I'm planning on re-using the space sharing interface for this, but in the spaces_users/spaces_invites tables, going to have `object_type`/`object_id` fields (ie `board`/`4444`, and possibly eventually `note`/`1234`).

On the client side, it would be really weird to have a space for each individual board shared, so it might make sense to have a `Shared with me` space that's automatic and can't be e

[2018-10-06 16:50] orthecreedence commented on #185
Actually regarding moving shared boards into local spaces, there might be an easyish workaround. If locally (in the core) the boards had a field called `virtual_space_id` and the search system did something like `WHERE space_id = {{space_id}} OR virtual_space_id = {{space_id}}` for the space search, the boards could *appear* that they were in the space they were "moved" to but would actually still

[2018-10-06 22:32] Tom3141 commented on #157
My apologies about being a pain here.
I think part of this was a mistake on my part.  (I'm assuming that somehow I duplicated entries .cargo/config file.   I eliminated the duplications, installed a couple of libraries and I moved it along.     I seem to be having some issues linking to turtl core to arm-linux-androideabi-gcc   Any thoughts?
`Running build_core armv7
/tmp/turtl-build/turtl/core ~/

[2018-10-07 07:07] Tom3141 commented on #157
My apologies about being a pain here.
I think part of this was a mistake on my part.  (I'm assuming that somehow I duplicated entries .cargo/config file.   I eliminated the duplications, installed a couple of libraries and I moved it along.     I seem to be having some issues linking to turtl core to arm-linux-androideabi-gcc   Any thoughts?
[code]

[2018-10-07 20:25] Tom3141 commented on #157
I'm thinking my last issue is a critter within libsodium https://github.com/jedisct1/libsodium/releases/download/1.0.16/libsodium-1.0.16.tar.gz

I submitted an issue:
https://github.com/jedisct1/libsodium/issues/768

[2018-10-08 07:11] MaxCreeger32 commented on #153
here it is
[core.log](https://github.com/turtl/tracker/files/2454942/core.log)

[2018-10-08 09:44] huguesgr opened #186 "Docker hub image"
The Dockerfile from turtl/server works like a charm.
Would you consider setting up an automatic build on the Docker hub?

[2018-10-08 11:02] mic301 opened #187 "Connection failed -- Error: column "last_login" of relation "users" does not exist"
Hi,

Like the title says, I have a error message when i try to connect to the turtl server (https://apiv3.turtlapp.com), since the publishing of the last release (0.7.0), On the v0.7.0 like on the v0.7.0-rc15, desktop or Android version, I have the same error :

_Connection failed -- Error: column "last_login" of relation "users" does not exist_

I supposed it's a server-side issue.

On the last v

[2018-10-08 12:59] Tiemichael commented on #187
Same here ..
After upgrading the server, Android, and WIN-Desktop just now,  I cannot login

Login failed -- Error: column "last_login" of relation "users" does not exist

[2018-10-08 13:38] l4mbd0x commented on #187
I've been using the rc-13 of 0.7.0 and it was working "Login included." However, alike to @Tiemichael  and @mic301 now the title of this issue is displayed whenever I try to login.

This error is indeed on the server side because today at 7am BRT timezone it was logging in/out without problems for the rc-13 that I have installed on my Linux box.

Also, I tried installing/uninstalling for the final

[2018-10-08 14:23] simplyandyg commented on #187
I just updated to the latest app on Android and my Mac and I am running into this same error when migrating over my account.

[screenshot of the error](https://ibb.co/i7Q0Dp)

[2018-10-08 15:48] orthecreedence commented on #187
Sorry, everyone. We had an issue with our database last night. This should be fixed now.

[2018-10-08 15:48] #187 closed, assigned to nobody

[2018-10-08 15:54] orthecreedence commented on #186
I can certainly look into this.

[2018-10-08 21:17] orthecreedence opened #188 "Turtl crashes on migrate"
This is a high-priority issue affecting many users. I was finally able to reproduce this. I'm not able to dig into the specifics of the problem at the moment, but suspect OOM.

[2018-10-08 21:20] orthecreedence opened #189 "Cannot login with non-english characters"
Very similar to the migration bug from before (#147) however this appears to be affecting the core <--> ui communications as well. The fix should hopefully be similar: do a decode step between parsing the UI command text and sending to dispatch.

[2018-10-08 22:31] l4mbd0x commented on #188
This problem is anyhow related to #187? or the others about issues with the migration process @orthecreedence?

[2018-10-08 22:47] betsythefc commented on #188
I updated to 0.7.0 and was prompted to migrate. I am receiving this error:
![screen shot 2018-10-08 at 3 46 04 pm](https://user-images.githubusercontent.com/15450365/46637530-6b4ea980-cb11-11e8-9185-ae841b83aa86.png)

I am on macOS 10.13.6, updated from v0.6.4

[2018-10-09 00:03] orthecreedence commented on #188
@lambd0x Issue #187 was a server issue caused by something I did last night. I'm debugging this issue and seeing it's a low-level problem having to do with one of crypto libraries we use when running the migration.

@betsythefc can you try again? I think that's another server-specific error that has been fixed (or, I hope it has).

[2018-10-09 01:24] orthecreedence commented on #188
As far as I can tell, this has been fixed. I had to implement our own constant-time vector comparison function and work around rust-crypto assembly one, but this shouldn't be a problem since a) we don't really need to worry about timing attacks here and b) the workaround should be constant-time enough anyway.

[2018-10-09 01:24] #188 closed, assigned to orthecreedence

[2018-10-09 01:43] betsythefc commented on #188
FYI this fixed it for me, Thanks!

[2018-10-09 02:39] betsythefc commented on #183
This would be really cool. For android/Mac (probably windows, and I have no clue about iOS) You'll also need to proxy it over orbot (android) or the tor browser (mac) unless you are bundling the software to access tor into the software.

On Android, the proxy is localhost:8118 for HTTP and localhost:9050 for SOCKS5.

[2018-10-09 03:04] #189 closed, assigned to orthecreedence

[2018-10-09 03:31] orthecreedence opened #190 "Classic (v0.6) logins not always working on v0.7 client"
I'm not able to verify this yet. Might have something to do with a space in the password? Need to run some tests here.

[2018-10-09 03:45] orthecreedence commented on #190
Nope, all combos I do (even with a known non-working username thanks to one of our users who reported) seem to pass the auth test. This is with the v0.7.0 release build, not the new one with encoding fixes.

Not sure what to make of this. Here's what we know.

- The client generates the auth for the new server (gets a 403)
- The client generates v1 auth for the old server, sends it to the old serv

[2018-10-09 06:47] mic301 commented on #187
My data say thank to you! :)

[2018-10-09 17:43] orthecreedence opened #191 "Indicate which spaces are shared in the space list (via icon)"

[2018-10-09 18:11] orthecreedence opened #192 "Migration keychain decryption failing for some users"
[code]

Looks like a master key issue? Could this possibly be related to #190?

[2018-10-09 18:25] orthecreedence commented on #153
Getting more reports of this, but still not able to reproduce and the logs aren't giving much info at all. I'll try to do some digging tonight.

[2018-10-10 00:25] cibersheep opened #193 "[Core-rs] Doesn't build in Ubuntu 16.04"
I have followed the steps from Readme (building libsodium-1.0.16 as in note2).
I have installed OpenSSL 1.0.2g-1ubuntu4.13
When try to build, I get this error

[code]

[2018-10-10 01:39] orthecreedence commented on #193
Weird, it's trying to load regex version `0.1.88` but the tom/lock file call for `0.1.77`/`0.1.80`. Are you using the same `Cargo.toml`/`Cargo.lock` file from the git tree? Also, what version of rust/cargo are you on?

[2018-10-10 01:47] orthecreedence commented on #190
Added a new release to help debug this:

- https://github.com/turtl/desktop/releases/v0.7.1-login-debug
- https://github.com/turtl/android/releases/v0.7.1-login-debug

If anyone is having this issue, open the app and on the login screen, hit "Trouble logging in?" then fill out the form and send the result.

[2018-10-10 05:08] orthecreedence commented on #192
Of course, the one place I don't log encryption error reasons is keychain decrypt errors. God damnit. I'll have to assume it's an auth error, unless I can get more info from one of our heroic users...

[2018-10-10 10:07] cibersheep commented on #193
I did a `git pull` before building. And doubled checked that I have the latest versions.

cargo 1.29.0-nightly (6a7672ef5 2018-08-14)

rustc 1.30.0-nightly (33b923fd4 2018-08-18)

Thanks

[2018-10-10 10:14] cibersheep commented on #193
For the record:

- I have updated Rust `rustup self update`
- Then, `cargo update`
- `cargo build` is compiling the ¿correct? regex version but if fails again to build:

[code]

[2018-10-10 10:24] cibersheep commented on #193
I just found this that might or might not be related
https://github.com/rust-lang/rfcs/blame/master/text/0453-macro-reform.md#L105

[2018-10-10 23:00] orthecreedence commented on #193
All of our builds are on `rustc 1.27.1 (5f2b325f6 2018-07-07)` (or `1.28.0` for our automated build). I wonder if the nightly is what is throwing things off.

[2018-10-10 23:01] orthecreedence opened #194 "Ability to choose UI language from within the app"
As noted by one of our users, some people prefer their OS to be in english but prefer Turtl to be in their native language.

[2018-10-10 23:07] orthecreedence opened #195 "Armenian locale display/UI issues"
Here are some issues reported from on of our users using the Armenian locale:

![pic2](https://user-images.githubusercontent.com/220134/46770944-48093300-cca6-11e8-96e5-306ab49dabe9.png)

![pic3](https://user-images.githubusercontent.com/220134/46770988-70912d00-cca6-11e8-85cb-b53f3f5bd6c5.png)

![pic1](https://user-images.githubusercontent.com/220134/46771005-7f77df80-cca6-11e8-84c4-74b351cae196.

[2018-10-10 23:43] orthecreedence opened #196 "Have to clear local data (or just log out?) to download files from shared space"
To reproduce:

As user A, add a space, add some notes with uploaded image files, share space with user B.
As user B, accept the share, wait indefinitely.

Need to check core log.

[2018-10-11 00:52] orthecreedence opened #197 "Update search UI (infinity symbol is unclear)"
![infinity](https://user-images.githubusercontent.com/220134/46774026-39764800-ccb5-11e8-883c-77acd314bc40.png)

This can either be some sort of breadcrumb (`Searching on tags clippy, flippy and text "slippy" (CLEAR x)`) or an X somewhere...but the UI for clearing the current search is not clear.

[2018-10-11 00:55] orthecreedence opened #198 "Tagging icon is too subtle"
This may be less of a problem on mobile, but on desktop maybe we can have some sort of text next to the icon ("Add tags")

[2018-10-11 00:56] orthecreedence opened #199 "Image upload/url UI is confusing"
![implication](https://user-images.githubusercontent.com/220134/46774153-c91bf680-ccb5-11e8-8963-7c82ce482270.png)

Maybe put upload/url next to each other horizontally, OR put them in a box of sorts.

[2018-10-11 00:59] orthecreedence opened #200 "Mime-type detection on file upload / cleaning image vs file note types"
This might negate #199.

[2018-10-11 01:25] dogfuntom commented on #192
I don't have any login issues but after login there's a migration and it won't finish even after hours of waiting. I suppose my issue belongs here? I found logs and there are repeated warning and errors that look like this:

[code]

[2018-10-11 01:28] orthecreedence commented on #192
Weird, the migration is supposed to give up on files after ~3 failed download attempts.

Also, odd that the files are not being found. Thanks for the log, this is helpful. I might open a new issue for this since it is a bit different than the migration keychain bug.

[2018-10-11 01:30] orthecreedence opened #201 "Migration freezing/hanging"
Seems migration is hanging after completion for some users.

(this was moved from issue #192)

[2018-10-11 01:32] orthecreedence commented on #201
@dogfuntom would you mind looking if there are any other types of errors in the log besides files failing to download? I wonder if something else is blocking the migration.

[2018-10-11 01:35] dogfuntom commented on #201
Okay, here's a full log then:
[core.log](https://github.com/turtl/tracker/files/2467037/core.log)

[2018-10-11 02:03] orthecreedence commented on #153
@MaxCreeger32 I just released a new desktop version (https://github.com/turtl/desktop/releases/tag/v0.7.1-logfix) that will actually enable the debug logging you set in the config file. This might help narrow down some issues. Can you please try again with this release and upload your log again?

Thanks!

[2018-10-11 08:01] cibersheep commented on #193
Ha! Well spotted!
I didn't know about Rust channels.
`rustup default stable` to change the channel to stable (`cargo 1.29.0 (524a578d7 2018-08-05)` and `rustc 1.29.1 (b801ae664 2018-09-20)`) and problem solved.
Thank you!

[2018-10-11 08:01] #193 closed, assigned to nobody

[2018-10-11 20:13] bashfulrobot opened #202 "Allow opening external program for editing notes"
I was reading the FAQ about the reasons for markdown. While I prefer markdown, maybe a way to approach this is to have an option to compose/edit in an external markdown editor.

## Workflow

* in Turl you could have a button to open/edit in external editor
* existing content opens in the editor (likely some sort of temp file on your file system), new note creates the empty temp file
* create/edit

[2018-10-12 05:29] l4mbd0x commented on #202
Indeed, this flexibility is desirable. However, Turtl would trade off maintaining an Markdown editor for the problem of handling an API to send/receive data to any app editor (including ways to handle editor's failures). Still, it is feasible.

[2018-10-12 06:03] l4mbd0x commented on #192
@orthecreedence what's a way to reproduce this problem?

[2018-10-12 07:09] orthecreedence commented on #201
So it looks like the migration did not get stuck on file downloads but seems to stop abruptly midway. Does the app crash for you when you try the migration? It looks like from the log it was attempted several times.

Do you know if you're on v0.7.0 or v0.7.1? 0.7.0 had an issue with the migration crashing that was fixed in 0.7.1. Might be worth checking!

[2018-10-12 07:21] orthecreedence commented on #193
Perfect! Glad it's working!

[2018-10-12 07:35] orthecreedence commented on #202
I love the idea. However, this is fairly difficult to do with Turtl's security promise. Temporary files with unencrypted data laying around are pretty far outside the goals of the project. This would have to be done using some kind of inter-app communication (probably via http, like the bookmarking extension). And at that point, I'm not sure how you'd get the editor to talk to the Turtl app withou

[2018-10-12 07:58] orthecreedence commented on #192
@lambd0x I haven't found a way yet, and I've run many migrations at this point.

There were two instances of users reporting this issue. One of them attempted the migration again with a client that had better logging, but the migration worked a second time so I didn't get any useful logs about the problem. The second user may or may not care enough to attempt the migration process again and mentio

[2018-10-12 08:12] orthecreedence commented on #201
Oh sorry, you mentioned the migration just sat there. That's really weird, sounds like it froze, which might be an entirely different issue.

Do you mind installing this build of Turtl: https://github.com/turtl/desktop/releases/tag/v0.7.1-logfix

Then edit `c:\Program Files\Turtl\resources\app\build\config.yaml` and set

[code]

and trying the migration again? Thanks!

[2018-10-12 11:39] dogfuntom commented on #201
Indeed, the nice recently added UI shows that download is complete but decryption goes until 50% and then does nothing.

[core.log](https://github.com/turtl/tracker/files/2472876/core.log)

[2018-10-12 13:26] l4mbd0x commented on #192
What about trying to migrate an account which uses all of Turtl 0.6 features?
Create two accounts, A and B. Over the first, A, create this scenario:
- notes.
- boards
- different types of notes, some using images from the internet and from the saved data(through the storage option) and even links.
- sharing notes through boards with B.
Over B, perform the very same steps.

And then try over the tw

[2018-10-12 23:28] l4mbd0x opened #203 "Copy a space/board/note"
Over the latest release 0.7.1-logfix. I saw that there was a case when I had a note within a space which I wanted to share with a friend, but since I just wanted to share the very note (not anything else of that space) I had to create a new space for that purpose and then move the note to that temp space.
It would really improve the user's management liberty/control if this was allowed.

[2018-10-12 23:40] GintokiHub opened #204 "Import from html/json browser bookmarking exports"
I have skimmed the docs the wiki, and here on github but I can't seem to find an explanation or  mention of how to import bookmarks from bookmark export files from browsers.
Is this feature planned? Have I been searching the wrong way?

[2018-10-13 01:33] orthecreedence commented on #204
You have not been searching the wrong way! And this feature has not been planned, although since we launched the "import" option it has been rbought up a few times by different users.

So I'm going to make this the issue to request that feature and put it on our roadmap.

Note that this relates pretty closely to Import from Evernote (#22) so the two features should be designed with each other in m

[2018-10-13 01:37] orthecreedence commented on #203
This makes sense. Feature #185 might eventually allow sharing of individual notes, at which point this copy feature might not be useful anymore, but I'd like to keep this tracked anyway in case others find a use for it.

[2018-10-13 01:39] orthecreedence commented on #192
Good idea, I might try this.

[2018-10-13 01:40] l4mbd0x commented on #203
The sharing of individual notes then would be possible by the locating it within a board alike to how it was over the v0.6 release, @orthecreedence ?

[2018-10-13 01:48] orthecreedence commented on #203
Well, the issue only covers sharing boards, but I'm planning on making it possible to share notes (individually) as well. I didn't want to add that to the feature just yet in case there are unseen complications, but that's the plan.

[2018-10-13 02:03] l4mbd0x commented on #203
I see. That if possible would also be awesome.

[2018-10-13 02:10] GintokiHub commented on #204
Great to hear. I am eagerly awaiting how the project evolves. Thanks for the quick replies!

[2018-10-13 02:22] l4mbd0x opened #205 "Add back button to "Share this space" interface"
On the latest release (v0.7.1-logfix). Similarly to issue #160 this screen has no direct return to the previous screen :) .

[2018-10-13 10:49] mutagenfork opened #206 "Web clipper: download/attach scraped images instead of hotlinking"
Right now, images are hotlinked, but not stored (as far as I can tell).  If the hotlinked image goes away, so does the image I've stored.

Instead, when I bookmark a page with the browser plugin, I'd like Turtl to offer me a list of images from the page that I can attach and store with the bookmark locally.  That way, if the hotlinked image goes away, I still have it in my db.

[2018-10-13 10:52] mutagenfork opened #207 "Import from Pinterest"
I have an extensive Pinterest collection--it would be nice if there were an automated importer.

[2018-10-13 10:52] mutagenfork opened #208 "Import from Pinboard.in"
An importer for the Pinboard.in service.

[2018-10-13 10:57] mutagenfork opened #209 "Web clipper: if text is highlighted when clipping, insert highlighted text into bookmark body"
When creating a bookmark, it would be helpful if highlighted in the browser were automatically inserted into the bookmark.

[2018-10-13 17:47] orthecreedence commented on #205
Agreed!

[2018-10-14 17:16] Tom3141 commented on #157
Ok.. As as the SIZE_MAX,  I found a workaround.  I think that's a libsodium specific issue using gcc which I detailed on the link above.

Once I got past that I had this showing up again:

What I think that's happening is that when I rerun your script somehow /.cargo/config keeps getting appended  and entries duplicated(deleting the duplicates addresses that issue)

One other issue that threw me f

[2018-10-14 17:30] Tom3141 opened #210 "Turtl Android => Building/running => Docs coming soon."
I managed to get Turtl libraries to build (ref: https://github.com/turtl/tracker/issues/157 )
I'm trying to figure out how to build/run and install it on my android phone:
When I look https://github.com/turtl/android/blob/master/README.md#buildingrunning
all it currently says is:

I noticed there is some info in history:
https://github.com/turtl/android/commits/master/README.md that has been appar

[2018-10-15 01:47] orthecreedence commented on #210
Sure. The Android app uses Cordova/the android SDK/node/npm to build, and assumes the following directory structure:

[code]

It pulls the assets from the `js` project and uses them as the interface, and uses codrova for building the APK. Depending on the architecture of your phone, you'll have to compile the core for either armv7 or armv8 and put the resulting `libturtl_core.so` file into the pro

[2018-10-15 02:06] orthecreedence opened #211 "Filter to find notes not in a board"
Basically, show me all notes that do not have a board assigned to them.

[2018-10-15 02:10] orthecreedence commented on #206
Agreed, this would be a great feature.

[2018-10-15 02:11] orthecreedence commented on #207
Yep, this would be a great feature. Added it to the roadmap.

[2018-10-15 02:13] orthecreedence commented on #208
I've not heard of this service until now, but looks cool. I'll see what I can do.

[2018-10-15 02:15] orthecreedence commented on #209
Agreed.

[2018-10-15 05:16] mdaniel commented on #210
It would be awesome to at the very least update the readme to point to this issue, and then hopefully update it for real when Tom3141 confirms the steps behave as expected.

I got as far as trying to cross compile openssl before getting the sad-trombone, but I didn't think to check the f-droid manifest, so I'll give those steps a try

[2018-10-15 13:54] mutagenfork commented on #202
You might want to look at how qutebrowser does it:

https://www.reddit.com/r/qutebrowser/comments/780u6a/how_to_set_vim_as_qutebrowser_editor/?st=jnacy042&sh=2e7dc152

https://github.com/qutebrowser/qutebrowser

[2018-10-15 14:03] l4mbd0x opened #212 "Feature request: Have an image note A embedded in another note displaying A's image"
Over the latest release v0.7.1-logfix.

I wanted to know if it is possible it have an imported image being displayed within a note over Turtl? Because I tried importing an image for this purpose, but I was unable to identify how to use this uploaded image inside an existing note. This would be very nice fro three initial reasons:
1. The linked image wouldn't has a link which latter could go offlin

[2018-10-15 14:03] l4mbd0x commented on #211
This is truly powerful.

[2018-10-15 14:22] l4mbd0x commented on #212
https://github.com/tonyxu-io/tiny-url (Uses JS)
https://github.com/rmadrazo97/tinyUrl1 (Uses JS)

[2018-10-15 18:24] orthecreedence commented on #202
@mutagenfork Can you give a little more explanation? It's not immediately obvious from the links how qutebrowser loads the editor and if it does so in a way that works within Turtl's security model.

[2018-10-15 18:45] keslerm commented on #206
Was actually surprised when it didn't do this

[2018-10-15 19:23] mutagenfork commented on #208
Pinboard.in bought delicious.

[2018-10-15 22:23] mutagenfork commented on #202
I don't know enough about Turtl to say whether it will fit with Turtl's security model.  I just know that the mechanism works well for editing Turtl's config file and text fields in the browser:

Here's the code which I'd guess does most of the work:

https://github.com/qutebrowser/qutebrowser/blob/03ac3b4d7db0795abe1c2f851e3e7c9f865d98ab/qutebrowser/misc/editor.py

[2018-10-15 23:15] orthecreedence commented on #212
I'm not fully understanding the feature request. Do you want the bookmarker to download/attach images to notes instead of linking to them?

[2018-10-15 23:16] orthecreedence commented on #202
Thanks, I'll take a look!

[2018-10-16 00:55] l4mbd0x commented on #212
Hm. Nah, I wanted to know if it is possible it have an imported image being displayed within a note over Turtl? Because I tried importing an image for this purpose, but I was unable to identify how to use this uploaded image inside an existing note.

[2018-10-16 01:01] orthecreedence commented on #212
Do you mean something like:

[code]

[code]

where Note B embeds the image from Note A?

[2018-10-16 01:03] l4mbd0x commented on #212
Sorry, if I wasn't clear about that I was looking for @orthecreedence.
Yes, that's precisely what I want.

[2018-10-16 01:16] jlbrewer opened #213 "Bookmarking extension not pairing after v0.7 client update"
Browser: Firefox 62.0.3
OS: Windows
Turtl: 0.71
Last bookmark extension update according to Firefox: Feb 18
Behavior: "Error Talking to Turtl 401 - needs pairing"

Cannot figure a way to force it to pair/refresh pairing data. I think 0.6x ran njws as a back-end process and that doesn't look true in the new version.

[2018-10-16 01:28] orthecreedence commented on #212
Ok, cool. I think this might fall under feature for linking between notes: #37

When referencing another note, it will show a preview of the note's content.

[2018-10-16 01:28] orthecreedence commented on #37
Note that this would not just link to the other note, but would show a preview of the note. This would be helpful for embedding images or media uploaded to turtl into other notes.

[2018-10-16 01:30] l4mbd0x commented on #212
Ok, I'll reorganize this thread's description for future reference.

[2018-10-16 01:30] orthecreedence commented on #213
Can you try removing the extension and reinstalling it? Sometimes it gets "stuck"

[2018-10-16 02:24] orthecreedence commented on #192
Still not able to reproduce this, however in 100% of the cases users have brought to my attention, trying a second time works.

I've introduced a change tot he migration system that detects the failure of keychain entries to decrypt. If it senses this, it bails from the migration and asks the user to try again. This is probably the best I can do until we get more details.

[2018-10-16 02:24] jlbrewer commented on #213
Yeah, that made it behave (I had tried disabling-reinabling plus restarting browser and client).

[2018-10-16 02:28] orthecreedence commented on #213
Good! Thanks for giving it a shot.

[2018-10-16 02:28] #213 closed, assigned to nobody

[2018-10-16 02:38] jlbrewer opened #214 "Feature suggestion: Mass moving/reorginization of notes between boards and/or spaces"
With the update to 0.7 the first thing I wanted to do was transfer my 'Imported' notes into the 'Home' space. Unless I missed something, the only way I could figure out was to move each individual board and then move all of my unsorted notes (about 20-30) into a temporary board and then move that board before resorting the notes to their proper place. (some were accidentally unsorted, some I swear

[2018-10-16 02:46] jlbrewer opened #215 "Spell checker for note editor"
Pretty self-explanatory I hope. This is a thing that would go some way toward making Turtl feature-competitive with stuff like Evernote. The main downside is that to do this without having to reinvent the wheel you would probably have to turn to 3rd party libraries and I saw the note about why you are very careful about that. I know the names of the major players (aspell, ispell, hunspell); I don'

[2018-10-16 02:49] jlbrewer commented on #209
I will mention that as a workaround in the meantime, I use a Firefox extension called "Copy as Markdown" to get text from the browser into Turtl. Hope that helps. Definitely want this.

[2018-10-16 02:56] #196 closed, assigned to orthecreedence

[2018-10-16 02:58] orthecreedence commented on #214
Agreed, this would be a great feature! This is tracked in the "Batch note editing" feature: #41 so for now I'm closing this as a dupe

[2018-10-16 02:58] #214 closed, assigned to nobody

[2018-10-16 03:04] orthecreedence commented on #215
Yes, I think a fully-bundled open-source option could work here.

[2018-10-16 04:45] orthecreedence commented on #212
I'm going to close this and add these notes to #37

[2018-10-16 04:45] #212 closed, assigned to nobody

[2018-10-16 05:21] orthecreedence commented on #201
@dogfuntom Thanks for your patience. I've been picking through this as I have time. There's nothing conclusive in the log, unfortunately.

Looks like 226 items were decrypted, out of a total of 394 (so the 50% mark you were shown makes sense). Oddly, you have 191 keychains, 28 boards, so that's 219 items right there (those are done before notes) and it looks like the 8th note is the one that freez

[2018-10-16 05:22] orthecreedence commented on #201
Oh, forgot to mention, can you change `log.level` to `"trace"` in `config.yaml`?

[code]

[2018-10-16 05:25] orthecreedence commented on #52
I'm moving this to roadmap. Not sure when it will get in, but I'm actually thinking this is more and more important. I'd like to launch a web version of Turtl at some point, and just be explicit about the dangers of it. Also, I know the Framanotes folks would like this as well.

[2018-10-16 06:31] orthecreedence commented on #191
closed in turtl/js@d1957ac

[2018-10-16 06:31] #191 closed, assigned to orthecreedence

[2018-10-16 06:36] MaxCreeger32 commented on #153
here it is
[core.log](https://github.com/turtl/tracker/files/2454942/core.log)

[2018-10-16 06:37] MaxCreeger32 commented on #153
sorry for the delay, here is another fresh log :
[core.log](https://github.com/turtl/tracker/files/2481699/core.log)

[2018-10-16 06:48] orthecreedence commented on #153
Thanks! Sorry to be a nuisance, can you set your log level to `trace` in `config.yaml` and send me another core.log?

[code]

[2018-10-16 06:50] #197 closed, assigned to orthecreedence

[2018-10-16 06:57] MaxCreeger32 commented on #153
I have set the trace level and now I can see that there it does not auto-detect proxy configuration :
`2018-10-16T08:50:41 - [TRACE][hyper::client] send method=Post, url="https://apiv3.turtlapp.com/auth", client=Client { redirect_policy: FollowAll, read_timeout: Some(Duration { secs: 10, nanos: 0 }), write_timeout: None, proxy: None }` as it is said here that there is no proxy.
I will try to see w

[2018-10-16 06:59] orthecreedence commented on #92
Think this is done.

[2018-10-16 06:59] #92 closed, assigned to orthecreedence

[2018-10-16 07:00] #11 closed

[2018-10-16 07:07] orthecreedence commented on #29
I guess I fixed this by getting rid of the tray icon altogether on OSx.

[2018-10-16 07:07] #29 closed

[2018-10-16 07:26] #205 closed, assigned to orthecreedence

[2018-10-16 07:36] orthecreedence commented on #153
Ok, I think I see what's happening.

In the old version, all the connections ran through Node-webkit, which is a wrapper around the chrome browser. Chrome automatically detects system-wide proxy settings and applies them to all outgoing connections. Node-webkit respected this, and just automatically used your proxy settings.

Now, the connections are being made through the turtl core, not the brow

[2018-10-16 07:59] ldidry commented on #52
Awww… :hugs: :heart:

Thank you!

[2018-10-16 08:06] orthecreedence commented on #52
Of course!

[2018-10-16 08:51] MaxCreeger32 commented on #153
Ok I understand why it was working on the old version... great thanks for your hunt and your reactivity.

[2018-10-16 18:21] orthecreedence commented on #206
@keslerm Be the change you want to see in Turtl.

[2018-10-16 19:43] orthecreedence opened #216 "Add interface to create a new board in the note editor"
This would make it so people don't have to leave the note editor, create a board, then go back to the note editor.

[2018-10-17 04:21] orthecreedence opened #217 "Confirming an account should update the app via sync record"
Seems like (sometimes?) confirming your account doesn't update the `confimed=true` bit in the app, making users log out/in again to accept shares.

[2018-10-19 01:03] mutagenfork opened #218 "Can't pair browser plugin/extension (Chrome/Firefox/etc) with desktop"
Browser: Chromium ( Version 69.0.3497.81 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)]
OS:  Gallium (Ubuntu derivative for Chromebooks)

When I click on the Turtl plugin, I get a popup asking me to sync the Desktop app with the extension by entering a pairing code into the extension.  However, only 1 time out 3 does the extension popup window appear where I could paste the p

[2018-10-19 05:43] orthecreedence commented on #153
@MaxCreeger32 Please try this new release: https://github.com/turtl/desktop/releases/tag/v0.7.1-proxyfix

I think it might fix the connection issue!

[2018-10-19 17:07] orthecreedence opened #219 "Large view mode"
Right now, the default is "medium." Large mode would be 1-column in mobile, 2-column until 1024, and 3-column at 1024+. It would still be masonry, but would be easier to see notes without opening them.

Note that this could probably just be build in concert with list view (#36) since I'll be mucking with the view internals anyway.

[2018-10-19 17:08] orthecreedence opened #220 "Alphabetical sort mode"
Sorts notes by title (or text if no title).

[2018-10-19 20:51] orthecreedence opened #221 "Note editor/action updates"
Basically want to jack the good parts of google keep. I'd like to clean up note "types." There should only be some basic types:

- text
- password
- todo (#42)
- bookmark
- photo

text/password/todo/bookmark all allow attaching a file via an in-editor button/interface (and no distinction between an image file or document...we decide for the user).

photo type is a shortcut to open the camera immed

[2018-10-19 20:57] orthecreedence commented on #218
Yeah, this is a major annoyance on both FF and chrome...they both handle the popup window frustratingly bad. It might make sense to just open a new tab with a text box in it. This is a good suggestion. Thanks.

[2018-10-19 21:05] orthecreedence commented on #221
Note that this supersedes #200 and #199

[2018-10-19 21:06] #200 closed, assigned to orthecreedence

[2018-10-19 21:06] #199 closed, assigned to orthecreedence

[2018-10-19 21:39] orthecreedence commented on #217
This is already done and working and just wasn't triggering because I was setting the bit to true int he db directly, bypassing the sync record creation DUHHH

[2018-10-19 21:39] #217 closed, assigned to orthecreedence

[2018-10-19 21:56] orthecreedence opened #222 "Users should not be able to create a share without confirming their account"

[2018-10-19 22:08] #123 closed, assigned to nobody

[2018-10-19 22:08] #222 closed, assigned to orthecreedence

[2018-10-19 23:25] orthecreedence commented on #153
Note that these latest changes (use `reqwest` instead of `hyper`, which in turn uses a later version of hyper `0.12.12`) causes the app to hang in Android when making any outbound HTTP requests (including POSTing the `/auth` endpoint). In other words, this may fix the desktop proxy issue, but it severely cripples the app on android. I either need to roll back and figure out another method of proxy

[2018-10-21 20:44] #143 closed, assigned to orthecreedence

[2018-10-22 23:01] dogfuntom commented on #201
I can't find the log where I got it previously (`%AppData%\Roaming\Turtl\core`). Where is it?

[2018-10-23 00:20] orthecreedence commented on #201
@dogfuntom Hmm that's weird, it should be there. If you delete the contents of `%AppData%\Roaming\Turtl\` and start Turtl again, does it show up?

[2018-10-23 03:16] #94 closed, assigned to orthecreedence

[2018-10-23 05:02] orthecreedence commented on #15
This is done. Exciting! The android app is starting to actually be somewhat usable.

[2018-10-23 05:06] #15 closed

[2018-10-23 05:17] #145 closed, assigned to nobody

[2018-10-23 05:19] orthecreedence commented on #145
This specific issue is fixed and wll go out in v0.7.2. I considered making it so checkboxes can be changed/saved from the note view, but the feature is actually very complicated (it's really difficult to know which markdown checkbox corresponds to which checkbox in the note display).

I think the alternative here is to actually add a TODO/checklist note type (#42) which I've prioritized for v0.7.3

[2018-10-23 05:23] orthecreedence commented on #190
Just a FYI, the lowercase did not fix this issue for the user who reported it. Still waiting to hear back before I can really continue here.

[2018-10-23 11:08] l4mbd0x commented on #145
Maybe the newest release of the markdown API changed the way they address check boxes. If so, it would help to distinguish one from the other.

[2018-10-23 11:34] MaxCreeger32 commented on #153
Hello I had time only today to do install this fix-version , but i still have the problem.
I have seen the config parameter for the proxy, but it does nothing better. here is the core.log.
I am really sorry to bother you again with that.
[core.log](https://github.com/turtl/tracker/files/2505916/core.log)

[2018-10-23 16:37] orthecreedence commented on #153
Weird, it looks like the proxy is not being sent into the core. Can you try something for me?

Open the desktop app, type `ctrl+shift+k`, select the Console tab, and paste this and hit enter:

[code]

and let me know the output? Thanks!

[2018-10-24 01:59] l4mbd0x commented on #145
@orthecreedence  is this the current API used for the checklist https://www.npmjs.com/package/markdown-it-checkbox?

[2018-10-24 03:46] orthecreedence commented on #145
@lambd0x This is the one: `https://github.com/revin/markdown-it-task-lists`. I'm not married to it though. If the other one would work better for this issue, we can switch to that.

[2018-10-24 03:55] orthecreedence opened #223 "Save markdown checkbox checked status in note view"
This is a continuation of #145.

Looks like <https://www.npmjs.com/package/markdown-it-checkbox> might at least number the checkboxes (by id) which would make this feature much easier to implement.

This requires:

- being able to parse the markdown text we have for a note and putting an `x` inside the `[ ]`
- the ability to save the note's text (outside of the editor) once edited (might be as sim

[2018-10-24 03:55] orthecreedence commented on #145
Also, Moving this to #223 since it's a slightly different issue.

[2018-10-24 10:20] l4mbd0x commented on #145
I didn't know https://github.com/revin/markdown-it-task-lists also made checklists. But yes, this one I found seems to ease things a bit in accordance to our objectives :).

[2018-10-25 18:26] betsythefc commented on #37
This would be fantastic. I currently use Turtl in planning large overland trips where my group travels to the middle of nowhere. I have many notes involved in planning and linking between them in a "Master Note" would be amazing for organization. Is there a way to put a bounty on this feature?

[2018-10-26 00:07] dogfuntom commented on #201
It does:
[core.log](core.log)

[2018-10-26 01:40] orthecreedence commented on #201
@dogfuntom this is helping to narrow things down. Do you also have any other core log files in that folder, like `core.log.1` or `core.log.2`?

[2018-10-26 01:49] orthecreedence commented on #201
Ok, actually this is spookily similar to another issue I saw on another bug. Essentially, the core request was panicking and because of a bug in the way commands are sent to the core, it wasn't catching the panic and it looked like it was hanging when really it had stopped because it had a failure and didn't tell anyone.

@dogfuntom I hate to do this to you again, but can you replace `C:\Program F

[2018-10-26 02:33] #83 closed, assigned to nobody

[2018-10-26 02:49] orthecreedence commented on #37
I haven't messed with bounties at all so not sure how to set it up, but I can certainly prioritize this feature. Certainly enough people have asked for it, or things that depend on it.

I'll mark it as v0.7.3, although there's a chance it might not make it in and would go in v0.7.4 instead.

[2018-10-26 02:58] orthecreedence commented on #192
I am closing this for now. I can't see a way of fixing it, especially if the app detects the problem and has the user retry. I have not had any more reports of this occurring. I will definitely keep it in mind if the issue comes up again.

[2018-10-26 02:58] #192 closed, assigned to orthecreedence

[2018-10-26 07:16] orthecreedence commented on #23
The app is building on F-Droid and now awaiting merge. I think at this point, the issue can be considered completed. If there are any problems further on, we can re-open this.

[2018-10-26 07:16] #23 closed

[2018-10-26 07:17] orthecreedence commented on #165
This is done, going to push soon. Closing.

[2018-10-26 07:17] #165 closed, assigned to orthecreedence

[2018-10-26 23:43] l4mbd0x opened #224 "Android only - Turtl doesn't hold the session across multiple apps"
Over the latest release of Turtl for Android. If an user opens up a note and opens up a browser session (I experienced this using chrome), and then returns to the opened session of Turtl. It will have exited the note and the session. Then Turtl will automatically login with the server again as if nothing happened. (If the user had unsaved edits it is lost too).

[2018-10-26 23:50] l4mbd0x opened #225 "Note tabs, or a way to quickly switch between notes"
This allows an user from one note to access and change other notes, switching back and forth if so required by having each note related to a tab. Handy specially for Android due to the long path to access notes of different spaces. Probably also convenient for Desktop too.

[2018-10-27 16:04] orthecreedence commented on #224
This is the android OS killing the app to free up memory. There's actually not much we can do about it specifically, but there are some workarounds.

- Unsaved edits would be fixed by this: #40 (coming in v0.7.3)
- Running the core in a background service would allow pulling up the last state without logging back in: #168

So for now I think those two cover this ticket (going to close).

[2018-10-27 16:04] #224 closed, assigned to nobody

[2018-10-27 16:07] orthecreedence commented on #225
Interesting! I had not thought about tabs or a way to switch between notes. This would be a biggish interface update, but definitely worth looking into.

[2018-10-27 18:15] betsythefc commented on #37
I'm okay with a straight link that when clicked would open the note, or having it show a preview of the note/file/image. Either way works for me.

[2018-10-28 21:53] dogfuntom commented on #201
Here's the error and more logs:
![5](https://user-images.githubusercontent.com/905138/47622274-6085a400-db14-11e8-877e-1f5976d41d7d.png)
[core.log](https://github.com/turtl/tracker/files/2523262/core.log)
[core.log.1.txt](https://github.com/turtl/tracker/files/2523265/core.log.1.txt)
[core.log.2.txt](https://github.com/turtl/tracker/files/2523266/core.log.2.txt)

[2018-10-29 07:53] opensource21 opened #226 "Loosing data at import"
Tried to migrate data at linux 64 bit with 0.7.1. The migration seemed to work, but I have the following problems.
At one shared board a note is missing
At a second shared board to Notes which only have a headline are missing.

At nested board a lot of notes are lost.
The structure was
G
and G/P
I tried to put all notes of G/P to G too. G should contains some notes which are only at G not at G/P.

[2018-10-29 09:58] Pndora commented on #225
This is indeed a very useful feature. Building on the same idea of being able to edit multiple notes easily, the ability to open multiple views / instances of turtl would be great, to allow easy copy-pasting of text between notes. I suppose that would be more difficult to implement for the mobile app, but may be easier to implement for the desktop application.

[2018-10-29 10:46] l4mbd0x opened #227 "Allow opening links in private browser if it is the last window used"
Currently the default browser defined over the system is the one used over Turtl, but if an user rather to use the same browser in a private session Turtl will instead use a regular session of it. Which is non-compliant with the secure/privacy idea of Turtl.

[2018-10-30 12:18] MaxCreeger32 commented on #153
Sorry for the delay
With your command, the proxy is set correctly... but i don't know why it does want to use it or
here is what I have :
[code]

For information here is the Javascript stack trace  :

[code]

[2018-10-31 01:57] orthecreedence commented on #201
Thanks! I finally found it. Apparently you have a file with the raw contents of

[code]

Which is what happens if you convert an object to a string in Javascript:

[code]

So this file is supposed to have a full set of ciphertext in it (650256 bytes to be exact) but because of some bug in the older version of Turtl, it was not uploaded properly. When the new version of Turtl tries to "decrypt" tha

[2018-10-31 02:08] #201 closed, assigned to orthecreedence

[2018-10-31 15:57] betsythefc opened #228 "Pin note to top of screen"
I use Turtl for a lot of note taking, but one in particular is to help plan and organize overland off-road camping trips. It would be great if I could pin notes to the top of the board so they are always the first ones listed, instead of in order of creation.

[2018-10-31 17:11] orthecreedence commented on #201
@dogfuntom Can you try 0.7.2? https://github.com/turtl/desktop/releases/tag/v0.7.2

This should hopefully fix the issue! Thanks!

[2018-10-31 17:29] orthecreedence commented on #226
The migration doesn't move shares, and it only moves data you own. So if you have a shared board with someone on the old version of Turtl, only the notes that you created in that shared board would be moved. This is a conscious decision so that only data you own gets migrated, and when the other people the baord is shared with migrated, they bring their data (and none is duplicated).

One thing I

[2018-10-31 17:30] orthecreedence commented on #226
Oh, one thing that can help me track down and make sure there's nothing else going on is if you go to the menu -> Settings -> Debug log, select "load everything" and send me the contents.

[2018-10-31 19:40] opensource21 commented on #226
Okay that explain the one missing note. And perhaps the two which only have a headline.
The situation at the g and g/p board I still not understand and don't know how to fix it quickly. I would expected that all notes which are in G and G/P are at the end of migration in G/P. Hopefully no data are lost.

Attached the log hope that it helps

[turtl.log](https://github.com/turtl/tracker/files/253611

[2018-11-01 09:47] Outi-s opened #229 "Make <style> blocks in note test only affect the note containing the styles"
Hello,
Thank you for Turtl. It is comparatively the snappiest app for markdown note-taking on Android, especially for longer notes.

My issue is with search on both Android & Desktop (Windows). When searching, you get to the keyword notes just fine. However, there is no way of knowing where in the note the said keyword is. This is a real bummer especially in longer notes.

Is there a possibility o

[2018-11-01 12:07] j-santander commented on #153
@orthecreedence I'm having the same problem, I'd like to use turtl behind a proxy.
I've not the faintest idea about rust, but I did a little debugging and I believe the problem is in `core/src/api.rs` line 103. It's currently:

[code]
but it should probably be:
[code]
or
[code]

In your code, you're instructing the HTTP client library to use a proxy for HTTP requests, but typically that does not a

[2018-11-02 22:56] orthecreedence commented on #227
This might be hard to accomplish, but I agree this is worth looking into.

[2018-11-02 22:59] orthecreedence commented on #228
Cool idea! I agree this could be very helpful in some situations.

[2018-11-02 23:05] orthecreedence commented on #229
Ok, so two things here. There is a feature request for searching (ctrl+f style): #18. This is being actively looked into!

As for limiting stylesheets to a note, I actually never even considered styles-in-notes, but I think some way of parsing the CSS and prepending something like `#note-abcd1234` (each not has a unique ID) to each style should work here. I am going to repurpose this ticket for th

[2018-11-02 23:29] Outi-s commented on #229
Thanks for replying @orthecreedence.

Actually, it's not about style per individual notes. It's just that there are inconsistencies, you have to have stylesheet for all boards. So if you have 5 boards, you get 5 stylesheet notes in All Notes. Similarly, you got to mark them with all tags for them to be of any use.

But your idea has merit. Stylesheet with mentioned note ids could be useful on occa

[2018-11-05 15:33] orthecreedence commented on #190
I am fully convinced this is just because people were using Framanotes and the servers are lost during upgrade. Added a page for this: https://turtlapp.com/docs/troubleshooting/logging-in/#custom-servers

[2018-11-05 15:41] orthecreedence opened #230 "Update CSP w/ strict connect-src"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/connect-src

Since we connect through the core now, `connect-src` should be locked down pretty hard.

[2018-11-05 15:54] orthecreedence opened #231 "Custom tokenizers for FTS"
This would allow full-text search in Sqlite on non-english text.

https://www.sqlite.org/fts3.html#tokenizer

The problem is it looks like it requires a custom lib (ICU / `-DSQLITE_ENABLE_ICU`) which rusqlite doesn't bundle, which would add yet another dependency to the build process.

[2018-11-05 16:23] orthecreedence commented on #226
Hi, I'm not seeing any failed items in your migration. Also, I released a new update that will preserve shared boards when migrating (although notes still only migrate if they were created by you):

https://github.com/turtl/desktop/releases/tag/v0.7.2.2
https://github.com/turtl/android/releases/tag/v0.7.2.2

You would have to delete your account and migrate again to make use of this change, unfort

[2018-11-05 16:23] #226 closed, assigned to nobody

[2018-11-05 16:37] orthecreedence commented on #153
This is very strange. If the proxy is set into `config.api.proxy` then it should be used. @MaxCreeger32 can you try this newest release (remove any previous version of Turtl before installing)? https://github.com/turtl/desktop/releases/tag/v0.7.2.2

Give that another try. I wonder if updating the DLL directly did not work and updating everything at once will work. Thanks for your patience.

[2018-11-05 16:46] Outi-s opened #232 "Android sidebar/search UX"
- [ ] A swipe right originating near the edge of the screen opens the sidebar
- [ ] A tap outside the search area closes the search

-------

Hello,
Thank you for the hard work.

1. In the notes view, is it possible to swipe right for the board/spaces to fly out instead of touching the turtl icon up top. It will smoothen the experience.

2. When searching the fly out takes up 75-80% of the screen

[2018-11-05 22:17] orthecreedence commented on #232
I think tapping behind the search to close is a good idea, and I'll add "swipe to open" the sidebar (as long as the swipe originates fairly close to the edge of the screen).

As far as item 3, see #16

Regarding syncing, our servers are in the Linode Dallas, TX, USA datacenter and (encrypted) file data is stored in Amazon's S3 (us-west-2/oregon). Turtl server can definitely be run on windows, and

[2018-11-05 22:20] orthecreedence commented on #190
Spoke too soon! A user actually came back with a real live case of this. Looks like the password is being processed differently in js than in rust. Everything about this screams of an encoding issue. Trying to gather more info from the user.

[2018-11-06 01:00] Outi-s commented on #232
Thank you @orthecreedence.

[2018-11-06 02:37] #190 closed, assigned to orthecreedence

[2018-11-06 07:36] popindavibe opened #233 "Current status and best way to upgrade"
Hello,

Apologies if this was already asked, but I have been following updates on the new client version, and I can see that there is also a 'new server' for Turtl.

How does everything work together? Is the new client compatible with the old server? What should be updated/upgraded first? Looking at the new server the whole backbend has changed, how do I migrate my users' notes?

I am very happy w

[2018-11-06 08:05] orthecreedence commented on #233
Hi, Jean. Thanks for asking.

So here are the steps for upgrading:

1. Get the [new server running](https://github.com/turtl/server)
2. Leave the old server running
3. Upgrade all clients to the new version (v0.7.2+, the later the better, because a lot of migration/login fixes have happened).
4. (For each user) On all of the clients, on the login screen, open "Advanced settings" and update the ser

[2018-11-06 08:05] #233 closed, assigned to nobody

[2018-11-06 08:34] popindavibe commented on #233
Thanks, very appreciated. I'll follow this carefully and will update here if needed.

[2018-11-07 16:45] orthecreedence commented on #190
Confirmed this is working now. Case closed. Hooray.

[2018-11-08 00:36] asdfghjz commented on #183
@orthecreedence I2p is a bit harder to host, although generally considered more anonymous.
Tutorial: https://linuxsecurityblog.com/2015/04/20/setting-up-a-darknet-website-with-i2p-on-ubuntu/

In a nutshell, I2p creates a folder for your "eepsite" (.i2p website).

@betsythefc We may be able to just enable users to set a proxy, that way users can point to the Tor localhost.

I run Linux,  and on man

[2018-11-08 00:56] betsythefc commented on #183
@asdfghjz, enabling a proxy would be a great first step. I would prefer that and a hidden service hosted on their servers, but if I can only get a proxy, I'm happy.

[2018-11-08 01:02] asdfghjz commented on #183
@betsythefc Sorry if my reply was misleading, a proxy would help for users self-hosting hidden services.

**Edit**:
One way of implementing this is by having a Tor Proxy option as well.
Example Utilizing Electrum:
![image](https://user-images.githubusercontent.com/42332644/48821043-8555eb80-ed4f-11e8-90cf-2d45fab4fd28.png)

[2018-11-08 01:04] betsythefc commented on #183
I wasn't even thinking about self-hosted instances at all, only the primary instance that Turtl runs, but that's a good point.

[2018-11-08 05:25] orthecreedence commented on #183
Great notes! I added proxy support to the core recently, shouldn't be too hard to add an interface for it.

[2018-11-08 16:34] magowiz opened #234 "Code syntax highlighting"
Hi,
I would like to know if it is possible to introduce syntax highlighting into code sections (three backtricks or inline code): I read in another issue that you are using markdown-it as library for markdown, I can read in their project page [https://github.com//markdown-it/markdown-it](https://github.com//markdown-it/markdown-it) in Usage Examples there is an example for syntax highlighting.

Ma

[2018-11-08 17:14] marcb1 opened #235 "Allow trusting self-signed certificates"
Currently the turtl desktop client does not trust self-signed certificates. This would be useful to have for running the turtl server on a separate server, using reverse SSL proxy with a self signed cert.

[2018-11-08 19:20] benbailess opened #236 "Control/Cmd+S for save from within note edit view"
I'm requesting a feature to be added to support using control + s (on Linux or Windows) and cmd + s (on mac os) to save the current note when in the note edit view. Thanks for making a great note taking application!

[2018-11-08 21:25] orthecreedence commented on #236
Hello, thanks for the suggestion! This likely won't be implemented for two reasons:

- We are going to have auto-save very shortly: #152
- You can already save from the note editor using Ctrl+enter / cmd+return!

[2018-11-08 21:25] #236 closed, assigned to nobody

[2018-11-09 19:38] orthecreedence commented on #235
Completely agree.

[2018-11-09 19:41] orthecreedence commented on #234
Agree this would be nice!

[2018-11-09 21:10] mutagenfork commented on #208
This bookmarking tool has importing code for  Pinboard, Delicious, and several other bookmarking services.   Written in PHP, but perhaps it will save you time identifying the api.

https://github.com/cdevroe/unmark

[2018-11-09 22:39] orthecreedence commented on #208
Nice! I know a bit of PHP so might be able to translate. Thanks for the resource!

[2018-11-09 22:56] orthecreedence commented on #153
Apparently this is still an issue:

[code]

Another user reported they are unable to connect, even though the app is "using" the proxy (`req: using proxy: XX.XX.XX.254:8080`)

I guess the hunt continues.

[2018-11-10 13:04] j-santander commented on #153
@orthecreedence not sure if you missed my comment above.
I've submitted it now as a pull request. I've tested it for my set-up (both making it go through a squid forward proxy I set up on a docker container here at home, but also tested through my corporate proxy) and it is working.

[2018-11-11 18:51] orthecreedence commented on #153
@j-santander Wow I did completely miss your comment, sorry! I'll merge your PR (thank you).

Also, regarding the config, I would use `build/config.yaml` and set `api.proxy`:

[code]

That said, I just realized this is somewhat incomplete as it is now. Once this is set, communication with the Turtl API will happen via proxy, however displaying images in the UI will use the system-wide proxy (if one

[2018-11-11 18:57] orthecreedence opened #237 "Add proxy connection option to login screen"
Right now, proxy detection only happens in the desktop app, and it only uses the system-wide proxy (which I think is only a thing on Windows).

We should add a "Proxy" box under "Advanced settings" on login/migrate/join that sets the proxy via the core (will probably want a dispatch endpoint here, or maybe just a generic "set-config" endpoint so we don't end up with 500 calls to set config values?

[2018-11-12 03:15] orthecreedence commented on #153
Just added https://github.com/turtl/tracker/issues/237. Once complete, this would add complete proxy support.

I've just created a new release now with @j-santander's changes merged in:

https://github.com/turtl/desktop/releases/tag/v0.7.2.3-proxy-fix

Can you give it a try and let me know how it works?

[2018-11-12 07:19] b-schliessmann commented on #153
Hello everyone

I've previously contacted the Turtl dev team by e-mail because I was facing the same issue (the log excerpt above is mine). In the reply, I was asked to provide details on my proxy configuration if possible. To keep things simple, I figured I'd do it here.

I'm accessing a squid 3.5.12 HTTP(S) proxy, configured in Windows 7 using a PAC (proxy autoconfiguration) script.

I'm happy t

[2018-11-12 07:25] opensource21 opened #238 "Login Username should be marked as e-mail-field"
At the moment I have in combination with swiftkey 2 issues:

- If I write a Dot which isn't unusual for E-Mail I get a whitspace after it.
- At the end I get a tailing blank, which end in a unknown user.

I guess both can be fixed if it marked as an E-Mail-Field oder password-field

[2018-11-12 07:36] opensource21 commented on #238
Should be

`<input type="email" name="username" placeholder="{{t 'Email'}}" value="{{state.last_username}}" tabindex="1" autocomplete="off" autocorrect="off" autocapitalize="off">`

in https://github.com/turtl/js/blob/master/views/users/login.hbs line 1.

I seems that `autocomplete="off" autocorrect="off" autocapitalize="off"`has no effect.

[2018-11-12 18:27] betsythefc commented on #155
This would also help with printing: Export to PDF, then print.

[2018-11-12 18:49] betsythefc commented on #238
@opensource21, I've submitted a pull request with you recommended changes.

[2018-11-13 19:07] darthmooguy opened #239 "The new server does not send e-mails"
I have set-up the new server in NodeJS. I have followed all the steps in the setup section and I have it up-and-running. However, the server does not send out confirmation emails to the users. Consequently, they cannot invite other users to their spaces.

Am I missing some config? I noticed that the email sending is done through the plugins, but my plugins dir is empty.

Thanks!

[2018-11-13 21:16] orthecreedence commented on #153
Thanks, Björn!

[2018-11-14 07:47] Outi-s opened #240 "Server - Windows"
Hello, thanks for all the hard work.

I have been using Turtl for a while now. However I have been looking into some wiki type apps and came across [DokuWiki](https://www.dokuwiki.org), they have this wonderful [DokuWiki on a stick](https://download.dokuwiki.org) feature which comes with a MicroApache Web Server.

I was wondering if something like this is possible for Turtl Server. Or if something

[2018-11-15 01:56] #238 closed, assigned to nobody

[2018-11-15 01:59] orthecreedence commented on #238
Wait, actually, I just realized...

Turtl v0.6 logins do not need to be emails, so enforcing `type="email"` on the input field would break many migrations. I think we need to keep it as-is for now.

[2018-11-15 02:18] orthecreedence commented on #238
Ok, I just pushed a fix for this. I am setting `<input type="email" ...>` and also setting `<form ... novalidate>` which seems to respect the email input type without throwing an error if it's not an email.

[2018-11-15 02:49] orthecreedence commented on #239
Hi, I've added an [example plugins folder](https://github.com/turtl/server/tree/master/example-plugins) to the server.

This has a working email plugin example, and see the updated `plugins` section of [config.yaml.default](https://github.com/turtl/server/blob/master/config/config.yaml.default#L44) for a quick note on configuring.

Note that you'll have to either move the `email/` folder (and the

[2018-11-15 02:49] #239 closed, assigned to nobody

[2018-11-15 07:56] filisko opened #241 "LDAP authentication"
Hello guys,
Would it be very difficult to implement and support a LDAP authentication system? Maybe as a plugin?

Regards,
Filis.

[2018-11-15 16:30] marcb1 opened #242 "Turtl Desktop request, CTRL+F"
Would be super useful to be able to search notes on the desktop app. On the MacOS app, currently Command+F and CTRL+F, don't work. Not sure if this is a missing feature, or if it's hidden somewhere.

[2018-11-15 16:36] Outi-s commented on #242
There is a feature request for searching (ctrl+f style): #18. This is being actively looked into!

Source: #229

[2018-11-15 16:36] #242 closed, assigned to nobody

[2018-11-15 18:56] darthmooguy commented on #239
Hi, thanks for the quick response! I have set up the email plugin and it now works as expected. Thanks!

[2018-11-17 22:20] orthecreedence commented on #240
This is a great idea. However, it would be tricky. DokiWiki appears to not need a database (it uses SQLite which is very portable) and the Turtl server does use a database (Postgres). That's not to say it's impossible to create a portable version of the server/database, but there are some unknowns there that might cause problems, and it would complicate the packaging of the server (it would need a

[2018-11-17 22:20] #240 closed, assigned to nobody

[2018-11-17 23:22] orthecreedence commented on #241
I've spent about half an hour researching this, and the answer is "I don't know."

I don't know how LDAP works, how it authenticates users, or much about the protocol at all. If you know more about this, I would greatly appreciate the input.

As a reference, here's how users are currently authenticated:

1. the user types their username/password and hits "login"
1. the app generates a cryptographi

[2018-11-18 04:59] Outi-s commented on #240
Thank you @orthecreedence.

[2018-11-18 13:09] Outi-s commented on #240
@orthecreedence, sorry for bothering you but how about [this project on GitHub](https://github.com/garethflowers/postgresql-portable) or maybe [this](http://www.postgresonline.com/article_pfriendly/57.html).

Also, can't just the necessary files be updated? If the base files are the same, some edits and stuff can be followed by even the most beginners of us.

[2018-11-18 13:10] filisko commented on #241
Hi @orthecreedence,
I was really interested in how Turtl's login works and you described it quite well.

If you change your password there, next time you try to login in your service, your service will just try to perform the authentication as usual connecting to LDAP server and trying to match user/password.

But yes, I see that the thing here is the token.

You mean that we would send the userna

[2018-11-18 21:43] orthecreedence commented on #240
Those projects certainly look like they would make this easier.

Here's the thing, this might be an easy project, or it might be more complicated. I don't know yet. But if I include it as a feature of the server itself, then I have to maintain it, and not just on one platform, but on three different platforms. Right now, it's mainly just me working on Turtl, and there's a lot of maintenance alread

[2018-11-18 21:51] orthecreedence commented on #241
I think so? Except right now, the server doesn't have any knowledge of a user's password...it's never sent to the server at all.

What I'm really trying to say is that yes, it's more than likely possible for the server to authenticate users with LDAP, but authentication is only half the problem because they still need a key to decrypt their profile. That key currently is generated on the client, a

[2018-11-18 21:57] orthecreedence opened #243 "Android: "Share to Turtl" creates blank notes that break the interface"
[code]

Seems to be filling the note type as the note ID. Need to do two things here:

- [x] Fix the interface to just show a blank note, not choke
- [x] Core should validate that a note is correctly formatted
- [x] Find out why android is creating these bad notes

Here's the data from an example note we got from a user:

[code]

[2018-11-18 22:26] filisko commented on #241
I see.
What is usually used to authenticate is a 'base DN' along with the 'user filter'. Those two values are used to make the 'user finding', once you find it, you get the 'full' DN of the found user and then perform a LDAP bind operation which is users DN + user password

* Base DN look like: **ou=users,dc=server,dc=com**
* User filters look like: **(&(posixAccount=user)(uid=%uid))** (here %uid

[2018-11-18 22:37] Outi-s commented on #240
Thank you @orthecreedence for the reply and the hard work.

[2018-11-20 00:03] orthecreedence opened #244 "Import from Pocket"

[2018-11-20 00:25] orthecreedence commented on #241
Got it! Thanks for the explanation.

Here's the thing. It's fairly core to Turtl to not send the plaintext password from the client to the server, the idea being that the server should *never* have enough information to decrypt the user's data. So the client doesn't send the password or the generated key, just a token that only someone with the proper password would be able to generate so the serv

[2018-11-20 00:25] #241 closed, assigned to nobody

[2018-11-20 09:12] filisko commented on #241
Thanks for considering it.
So I see that it would have to touch the core of the app that way. That's why I was wondering about the Plugins system flexibility so we don't have to touch any core at all and not compromise Turtl's 'way'.

I hope someone push into this 😄
It would be nice to have Turtl as note taking system for a company that uses LDAP.

[2018-11-20 17:28] orthecreedence commented on #241
I could see this being useful for a lot of companies who want to use Turtl internally. Maybe there will be a version eventually that makes compromises to allow this to happen.

I will certainly keep this feature in mind.

[2018-11-21 18:53] orthecreedence opened #245 "Connection pooling in core api"
The desktop app appears to be exhausting local connections. Looks like we need pooling for core HTTP requests.

[2018-11-22 04:33] asdfghjz opened #246 "Web version of turtl app"
**Feature**: Web Application for on-the-go easy access.
Similar to the proprietary [Google Drive](https://www.wikipedia.org/wiki/Google_Drive)/[OneDrive](https://www.wikipedia.org/wiki/OneDrive) or the free-software [Protected Text](https://www.protectedtext.com/) accept with all the feature and functionality of Turtl.

**Why?** There are many reasons you may not want to utilize the desktop app. F

[2018-11-22 04:35] asdfghjz commented on #96
Duplicate of #24

[2018-11-22 05:17] orthecreedence commented on #96
Oh, duh, thanks.

[2018-11-22 05:17] #96 closed, assigned to orthecreedence

[2018-11-22 05:20] orthecreedence commented on #246
Note that this heavily depends on #52. The core needs to be included into the webapp as a wasm/emscripten module.

[2018-11-22 08:24] popindavibe opened #247 "board not showing all notes"
Hello,
I have successfully migrated to the new client/server, however I just noticed a strange issue on the new client (v7.2.3).

When I open my meta-board (board gathering smaller boards) it only shows the notes for that specific board **only**, while from the navigation bar and total size of the pane makes me believe that all other notes that belong to sub-boards (and by extension to this meta-b

[2018-11-22 08:43] Outi-s commented on #247
Under a Space, All Notes show all the notes in all the other boards. I don't think you can see all notes in all workspaces all at once. Though it is possible I might be missing something.

[2018-11-22 08:53] popindavibe commented on #247
Sorry if I was not clear. I have no issue with the Space itself, all my notes are in the 'Imported' space and they all show (there is a `Next` link to go to the next page).

The problem is only related to board / sub-boards within a space.

For example,:
- _IT_ board containing notes belonging only to this board
  - a sub-board called _test_ (showing as _'T/test_)
  - another sub-board called _pro

[2018-11-22 09:23] Outi-s commented on #247
I don't think there are sub-boards anymore. I'd just rename them so:
[code]
So, they at least retain their place.

Again, there is a chance I might be missing something.

[2018-11-22 21:18] KennyJolt commented on #218
I found a workaround for Turtl to force the extension pairing popup and persistence so that the pairing code can be entered.

Right click the Turtl extension icon > Select **Inspect popup** menu item > paste the paring code into the popup.

This worked in Brave browser beta and should work the same in other browsers that are Turtl extension compatible.

[2018-11-23 23:18] popindavibe commented on #233
Hi Andrew,
Everything worked out pretty well, I have reorganized my boards to adapt to the new structure (using 'spaces' + boards instead of  boards + sub-boards).

However I am trying to understand what/how should be handled the confirmation email upon inscription:
- What should `www_url` be?
I set it to an alias of my api URL, but as expected it's not really user-friendly and display an auth err

[2018-11-25 10:37] popindavibe commented on #247
Ok, I have move my 'meta-board' into its own space and further move the sub-boards into that space, so that I end up having the same kind of setup fitting the new format.

[2018-11-25 10:37] #247 closed, assigned to nobody

[2018-11-26 10:53] l4mbd0x opened #248 "Turtl set another font as default when editing a note"
Over the latest release of Turtl I noticed that some letters and numbers are represented by the very same symbol which in turn makes it sometimes hard to identify when editing a note what letter/number was there previously placed (unless by context). Example:  1 is l and vice versa.

Hence, a nice looking font with distinct symbols for letters/numbers would be great.

[2018-11-26 10:58] l4mbd0x opened #249 "New notes are not affected by current search"
Over the latest release of Turtl.
If an user has a search in specific, a newly created note created while the search is not cleansed should be affected by it.

[2018-11-28 04:07] #243 closed, assigned to orthecreedence

[2018-11-28 04:09] orthecreedence commented on #248
Thanks! Will keep this in mind.

[2018-11-28 04:11] orthecreedence commented on #249
Agreed, notes should automatically be included from search if they match the filters (and excluded if they do not match).

[2018-11-28 04:17] orthecreedence opened #250 "Add a plugin hook to user registration"
The idea being you could restrict signups/confirmation somehow via this plugin.

[2018-11-28 04:17] orthecreedence commented on #233
Hi, Jean.

- `www_url` for our live instance is `https://turtlapp.com`. This gives the API somewhere to direct users when they have successfully confirmed, and I think may be used in one or two other places (a `grep -lr 'www_url' . --exclude-dir=node_modules --exclude-dir=.git` in the `server/` directory will tell you what files use this value and you can search within them to find exactly what).

[2018-11-28 04:21] orthecreedence commented on #218
Thanks, Kenny. I'll suggest that to people who have this problem until there's a more permanent fix.

[2018-11-28 04:35] #153 closed, assigned to nobody

[2018-12-01 20:42] kdavh commented on #41
Something similar to how photos.google.com does its mass editing UI would probably work well

[2018-12-03 19:04] dylanjw opened #251 "Archive notes"
It would be great if there was an option to archive notes, which would not delete them, but hide them from view and searches by default.  A option could be added to the search to include archived notes in searches.

[2018-12-03 20:38] Outi-s commented on #251
As a workaround you can make a new workspace and rename it Archive & Bin as well if you like. Just dump the stuff in there and just never search in them until necessary.

[2018-12-03 23:05] dylanjw commented on #251
@subi54 Thanks for the suggestion.

I think this is a needed feature so that a user can retain contextual information after a note is archived. In my use case, I do not want to lose where a note is placed in my spaces and boards.

[2018-12-03 23:48] orthecreedence commented on #251
Good suggestion, thanks.

This would be similar to some kind of "Trash bin" feature as well, and maybe eventually we could do something like "delete notes older than 30d from archive" or something like that. For now, we'll keep it simple and just have some kind of archival.

[2018-12-04 10:49] maxf opened #252 "Android app shares images as attachments"
When sharing a picture (from the Gallery app, for instance) it's save to turtl as an attachment note and not as an image note. This prevents the picture to be previewed on the board page.

[2018-12-04 10:55] maxf opened #253 "OSX firefox add-on: can't paste pairing code in add-on popup window"
This is on latest OSX
steps:
- install desktop app
- install firefox add-on
- click on turtl icon in browser: desktop app pairing window pops up with code to copy paste (by the way that window pops up in front of the browser popup, so it's a bit confusing)
- copy the code
- go back to browser
- when clicking on the text field in order to give it focus before pasting, it just goes away so there's n

[2018-12-04 21:52] thecount2a commented on #121
I would really like this feature to improve the security of this app! I love Turtl so far, I tried it about 1 year ago and it was somewhat unstable but I tried it again recently and version 0.7 really seems like a brand new experience! Thank you for all of your hard work on this!

I would like to use a really long password (basically an encryption key) but then have a second password that would be

[2018-12-07 05:51] orthecreedence opened #254 "Record an audio note"
The idea here is you can use your device's microphone to record audio. The audio would be attached as a file to the note. Obviously, it'd be ideal (in fact, probably required) to detect the audio format of the file and allow it to be played in the app (much like we inline images, we can inline an audio player).

[2018-12-07 05:59] orthecreedence opened #255 "Speech to text"
This builds on #254 and would allow indexing a note (and therefor searching) by the speech in the note.

I'm marking this as an idea and note a feature because I'm not sure what would be involved, yet. We would certainly need some kind of core-included speech-to-text library to do this.

Complications:
- Do we want to make the speech recognition explicit (a button) or implicit (run it on ALL audio

[2018-12-07 06:03] orthecreedence commented on #253
This is (almost certainly) a duplicate of #218. It's mostly due to a bug in the way the extensions work, and we're looking into a fix. Thanks!

[2018-12-07 06:03] #253 closed, assigned to nobody

[2018-12-07 06:05] orthecreedence commented on #252
Thanks, I just updated the "share to Turtl" feature in v0.7.2.4 but sounds like it still has some glitches. I will check this out.

[2018-12-07 06:09] orthecreedence commented on #121
@thecount2a Great ideas! Thanks for the feedback (and also, I'm glad the new version of the app is working better for you, that's great to hear).

I like the idea of splitting out the pin/account key from the main password.

[2018-12-07 06:25] orthecreedence commented on #245
So two things:

- This might be a windows-only issue: https://github.com/seanmonstar/reqwest/issues/284
- Apparently, reqwest::Client already uses a connection pool, however due to the fact that a new client has to be created *each time* we want to change the timeout, there's not much way around this (https://github.com/seanmonstar/reqwest/issues/272)

That said, we could *cache* the clients in a

[2018-12-07 06:36] orthecreedence commented on #245
Ok, was going to try to PR reqwest, but I can't even get the v0.9.3 tag to compile in rust 1.27.1, going to just go the hash table route for now. Need to get this done.

[2018-12-07 08:11] #245 closed, assigned to orthecreedence

[2018-12-07 10:29] b-schliessmann commented on #153
One last comment: I just downloaded and installed 0.7.2.5 from the website -- still working. Thanks again!

[2018-12-07 12:50] opensource21 commented on #121
What do you think if we protect the key at android devices with a fingerprint? If it should be optional the JS-Part must add this input, because it's hard to make gui and storage native in a cordova app.